
/*Fonts*/
@font-face {
    font-family: 'berthold_akzidenz_groteskLtex';
    src: url('../fonts/berthold_akzidenz_grotesk_be_light_extended-webfont.woff2') format('woff2'),
         url('../fonts/berthold_akzidenz_grotesk_be_light_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'berthold_akzidenz_grotesk_bex';
    src: url('../fonts/berthold_akzidenz_grotesk_be_extended-webfont.woff2') format('woff2'),
         url('../fonts/berthold_akzidenz_grotesk_be_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berthold_akzidenz_groteskmdex';
    src: url('../fonts/berthold_akzidenz_grotesk_be_medium_extended-webfont.woff2') format('woff2'),
         url('../fonts/berthold_akzidenz_grotesk_be_medium_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.serif{
    font-family: "Times New Roman", Times, serif;
}
.sans-serif{
    font-family: helvetica, arial, sans-serif;
}
.berthold{
    font-family : berthold_akzidenz_grotesk_bex;
}

* {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
} 
body{
	padding: 0px;
	margin: 0px;
	/*! font: 14px/1.6em berthold_akzidenz_grotesk_bex; */
    font: 14px/1.6em helvetica, arial;
}
button, input[type="button"], input[type="submit"]{
	cursor: pointer;
}
button::-moz-focus-inner {
	border: 0 none;
}
button:active {
	outline: medium none;
}
button:focus {
	outline: medium none;
}

a{
	text-decoration: none;
	color: inherit;
}
a.no-hover-decoration:hover{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, p{
	margin: auto;
}
xmp{
    display: inline;
    margin: 0px;
}
img:-moz-loading {
    visibility: hidden;
}
input[type="text"], input[type="button"], input[type="submit"], textarea, button {
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
    -webkit-border-radius: 0;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
body, .wrapper{
    margin: 0px auto;
    min-width: 320px;
}
.innerWrapper-main{
	margin: 0px auto;
	max-width: 1200px;
}
.scroll-hidden{
    overflow-y: hidden;
}
.no-margin-bottom{
    margin-bottom: 0px;
}
.clear{
	float: none;
	clear: both;
}
.full-vp-height{
    height: 100vh;   
}
.text-underline{
    text-decoration: underline;
}
.half-width{
    width: 50%;
}
.font-normal{
    font-weight: normal;
}
.inline-block{
    display: inline-block;
}
.cursor-crosshair{
    cursor: crosshair;
}
.absolute{
    position: absolute;
}
.absolute-bottom{
    position: absolute;
    bottom:0px;
    width: 100%;
}
.full-width{
    width: 100%;
}
.cover-bg{
    background-size: cover;
}
.position-relative{
    position: relative;
}
.cursor-pointer{
    cursor: pointer;
}
/*Text*/
.text-italic{
    font-style: italic;
}
.center-text{
    text-align: center;
}
.align-bottom{
    vertical-align: bottom;
}
/*Block*/
.center-block{
    margin: 0px auto;
}
ul.inline-list{
    padding: 0px;
}
.padding-15{
    padding: 15px;
}
.padding-v-15{
    padding: 15px 0px;
}
.input-block{
    position:  relative;
    border: 1px solid #838383;
    height: 35px;
}
.input-block input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background: transparent;
    border: none;
    position: relative;
    z-index: 2;
}
.input-block .input-icon{
    position: absolute;
    right: 9px;
    top: 8px;
    
    z-index: 0;
    opacity: 0.6;
}
.full-dim{
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.header-sm{
    font-size: 1.5em;
}
.pointer{
    cursor: pointer;
}
.clear-fix{
	visibility: hidden;
	display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.form-group{
    position: relative;
}
.bordered-btn{
    min-height: 40px;
    width: 140px;
    background: transparent;
    border: 1px solid #444;
    text-transform: uppercase;
}
.bordered-btn:hover{
    color: #fead42;
    border: 1px solid #fead42;
}
.bordered-btn.lg{
    width: 200px;
}
.caption{
    font-size: 12px;
}
/*Class for disabling element selection*/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Prevent the child's margin moving the parent*/
.parent::before {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}

.parent::after {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}
.self-clear:before, .self-clear:after{
    content: '';
    display: block;
    float: none;
    clear: both;
}
.float-none{
    float:none !important;
}
.inline-block{
    display: inline-block;
}
.align-bottom{
    vertical-align: bottom;
}
.inline-list li{
    display: inline-block;
}
.inner-nav.inline-list li.active{
    display: none;
}
.inline-list.has-divider li:not(:last-child):after{
    content: '|';
    margin: 0px 23px;
}
.well.sharp-corner{
    border-radius: 0px;
}
.well.no-margin{
    margin-bottom: 0px;
}
.no-border{
    border: none;
}
.overflow-hidden{
    overflow: hidden;
}
.container-nexus{
    max-width: 1366px;
    width: 100%;
     padding: 0px 15px;
    margin: 0px auto;
    position: relative;
    z-index: 3;
}

.relative-100Height{
    position: relative;
    height: 100%;
}
.absolute-100Hegiht{
    position: absolute;
    height: 100%
}
.absolute-right{
    right: 0px;
}
.firstPad{
    padding-top: 154px;
}
.firstMargin{
    margin-top: 133px;
}
.overlapped-head{
    padding-bottom: 139px;
    padding-top: 53px;
}
.overlapper{
    margin-top: -138px;
}
.overflow-hidden{
    overflow: hidden;
}
.page-nav, .page-nav .menu{
    padding: 0px 0px 0px 0px;
    z-index: 14;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: padding 0.4s;
    background: #fff;
}
.page-nav.fixed{
    /*! padding: 3px 0px 0px 70px; */
    /*! background: rgba(0,0,0,0.6); */
    background: #fff;
}
#homepage .page-nav.fixed{
    /*! background: transparent; */
}
.page-nav.fixed .nav-static{
    
    position: relative;
    z-index: 3;
}
.side-nav{
    position: fixed;
    width: 70px;
    top: 0px;
    height: 100%;
    background: #444;
    left: 0px;
    z-index: 12;
}
.stick-absolute{
    position: absolute;
}
.stick-absolute.right{
    right: 0px;
}
.stick-absolute.bottom{
    bottom: 0px;
}
.side-nav table{
    height: 100%;
    color: #fff;
    width: 100%;
}
.side-nav table .section-indicator{
    position: relative;
}
.side-nav table .section-indicator p{
    transform: rotate(90deg) translate(0px, 129px);
    width: 300px;
    transform-origin: 56% 44%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
}
.notification-container{
    position: fixed;
    z-index: 10;
    width: 277px;
    min-height: 50px;
    background: white;
    right: 10px;
    bottom: 124px;
    padding: 13px;
    color: #636363;
    font-size: 12px;
    border-radius: 3px;
    /*! display: none; */
    opacity: 0;
    box-shadow: 0px 0px 2px 1px #c6c6c6;
}
.notification-trigger{
    position: fixed;
    z-index: 10;
    bottom: 10px;
    width: 100px;
    height: 100px;
    right: 10px;
}
.notification-trigger button{
    background: transparent;
    border: none;
}
.live-preview{
    width: 16vw;
    overflow: hidden;
    display: inline-block;
}
.live-preview div{
    background: #fff;
    margin: 9px 0px;
    position: relative;
    border-left: 10px solid #444;
}
.live-preview img{
    width: 100%;
    /*! transform: scale(1.2); */
}
.live-preview button{
    height: 100%;
    left: -16vw;
    top: 0px;
    width: 100%;
    background: rgba(0,0,0,0.6);
    border: none;
    color: #fff;
    position: absolute;
    transition: left 0.2s;
    
    text-transform: uppercase;
}
.live-preview div.active button{
    left: 0px;
}
.live-preview button .sup-small{
    font-size:9px;
}
.hover-float{
        width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/167792/mountains_copy.jpg) no-repeat center center;
    background-size: cover;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.notification-container .close{
    opacity: 1;
}
.notification-container.active{
    display: block;
}

main.sections, .padding-for-menu{
    padding-left: 70px;
}
.page-nav .menuTrigger{
    font-size: 2em;
    padding: 10px 0px;
    vertical-align: middle;
    margin-right: 20px;
    transition: all 0.5s;
}
.page-nav .menuTrigger.active{
    transform: rotate(180deg);
}
#promotions .promo-banner{
    height: 377px;
    overflow: hidden;
}
.page-nav .menu{
    z-index: 2;
    height: auto;
    top: -100%;
    transition: all 0.3s;
    padding-top: 20px;
}
.page-nav .menu.active{
    top:90px;
}
.page-nav.fixed .menu.active{
    top:  51px;
}
.page-nav .menu ul{
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    padding-left: 20px;
}
.page-nav.fixed .menu ul{
    background-color: rgba(0,0,0,0.4);
}
.page-nav .menu ul li{
    list-style: none;
    display: inline-block;
    margin-left: -1px;
    background-color: transparent;
    border: none;
    font-size: 0.7em;
    padding: 8px 15px;
    text-align:center;
    #animation: wiggle 2.5s infinite;
    min-width: 100px;
}

.page-nav .menu ul li label{
    display: block;
    color: #fce917;
    cursor: inherit;
    margin-bottom: 0px;
    line-height: 1.3em;
}
.page-nav .menu ul li.active *, .page-nav .menu ul li:hover *{
    /*animation: wiggle 0.2s;*/
    color: #fff;
    filter:brightness(2000%);
}
.page-nav .menu ul li.active:hover{
    background-color: transparent;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(5deg); }
    10% { transform: rotate(-5deg); }
    15% { transform: rotate(5deg); }
    20% { transform: rotate(-5deg); }
   25% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    35% { transform: rotate(5deg); }
    40% { transform: rotate(-5deg); }
    45% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    55% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    65% { transform: rotate(5deg); }
    70% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    80% { transform: rotate(-5deg); }
    85% { transform: rotate(5deg); }
    90% { transform: rotate(-5deg); }
    95% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}
.page-nav .menu ul li a:hover,.page-nav .menu ul li a:focus{
    text-decoration: none;
    
}
.nav-static{
    padding: 0px 10px;
    border-bottom: 2px solid #e5e7e6;
}
.page-nav .logo, .login-nav .logo{
    height: 60px;
    margin-top: 7px;
}
.page-nav .icon, .login-nav .icon{
    height: 30px;
    margin: 14px 10px 10px 10px;
}
.pop-up.fullscr-page-nav{
    background-color: rgba(0,0,0,0.85);
    width: 100%;
    opacity: 0;
    z-index: 49;
    top: 0px;
    height: 100%;
    overflow: hidden;
}
.pop-up.fullscr-page-nav.active{
    display: block;
}
.fullscr-page-nav .close{
    opacity: 1;
    position: absolute;
    top: 63px;
    right: 32px;
    cursor: pointer;
    z-index: 4;
}
.fullscr-page-nav .close:focus,.fullscr-page-nav .close:hover, .fullscr-page-nav .close:active{
    color: #fff;
}
.fullscr-page-nav ul{
    padding: 0px;
}
.fullscr-page-nav .nav-menu{
    padding: 0px;
    list-style: none;
    display: block;
    font-family: helvetica;
    margin: 33px auto;
    width: 264px;
    text-align: center;
}
.fullscr-page-nav .over-flow-control{
    position: absolute;
    height: calc(100% - 51px);
    width: calc(100% + 20px);
    top: 0px;
    left: 0px;
    overflow-y: auto;
}
.fullscr-page-nav .nav-menu a:hover{
    text-decoration: none;
}
.fullscr-page-nav .nav-menu .main-items h2{
    padding: 13px 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.fullscr-page-nav .nav-menu .main-items:hover *{
    color: #fff !important;
}
.fullscr-page-nav .nav-menu .main-items .menu-hint{
    opacity: 0;
    transition: opacity 0.5s;
}
.fullscr-page-nav .nav-menu .main-items:hover .menu-hint{
    opacity: 1;
}
.fullscr-page-nav .nav-menu .sub-items > li{
    height: 25px;
    font-size: 11px;
    margin: 0px 5px;
    color: #fff;
    min-width: 149px;
    display: block;
}

.pop-up{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    z-index: 555;
    left: 0px;
    top: 0px;
    opacity: 0;
}
.page-nav-mask{
    z-index: 12;
}
.about-nav{
    font-size: 12px;
}
.pop-up.active{
    display: table;
}
.hasMarginBottom{
    margin-bottom: 20px;
}
.text-bold{
    font-weight: bold;
}
/*Colors */
.whiteFont{
    color: #fff;
}
.greenFont{
    color: #8EC62B;
}
.greenBg{
    background-color: #8EC62B;
}
.blueVoiletFont{
    color : #a125ed;
}
.blackFont{
    color: #000;
}
.redFont{
    color: red;
}
.whiteBg{
    background-color: #fff;
}
.yellowFont{
    color: #ffdc00;
}
.yellowBg{
    background-color: #ffdc00;
}
.yellowPaleBg{
    background-color: #fef4b2;
}
.bottomYellowBorder{
    border-bottom: 2px solid #ffdc00;
}
.red1Font{
    color: #ff422c;
}
.lightGreyFont{
    color: #b8b8b8;
}
.lightGreyBorder{
    border-color: #ebebeb
}
.darkGreyFont{
    color: #717171;
}
.pinkRedFont{
    color: #e8058a;
}
.blueWhite{
    color: rgba(255,255,255,0.5);
}
.yelloGreenBorder{
    border-color: #b3d330;
}
.redBorder{
    border-color: #f26039;
}
.ligthGreenBorder{
    border-color: #66bb7d;
}
.transparentBtn{
    background: transparent;
    border: none;
}
.form-error{
    color: #ef0000;
}
.greyBg{
    background-color: #ececec;
}
.link-style1 span.underline{
    border-bottom: 1px solid rgb(255,220,0);
}
.link-style1 span.special-chars{
    font-size: 1.4em;
    padding-left: 10px;
}
.hr-triangle{
    height: 2px;
    background-color: #b8b8b8;
    margin: 10px 0px 20px 0px;
}

.hr-triangle .triangle{
    width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid #b8b8b8;
    margin: 0px auto;
}

/*Page specifics*/
main{
    position: relative;
    min-height: calc(100vh - 163px);
}
.pageBackground, .pageBackground .coverBackground, .pageBackground:after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index:-1;
}
.has-mask:after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index:-1;
}
.has-mask:after{
    content: '';
    z-index: 1;
    background-color: rgba(0,94,170,0.4);
}
.has-mask.white-mask:after{
    
    background-color: rgba(255, 255, 255, 0.85);
}
.pageBackground .background-item{
    width: 100%;
}
.user-welcome{
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-position: center bottom;
    /*! position: static; */
}

.custom-pager{
    text-align: center;
    width: 100%;
    padding: 0px;
    position: fixed;
    bottom: -46px;
    z-index: 4;
    margin-bottom: 0px;
    transition: bottom 0.8s;
    background-color: rgba(0,0,0,0.5);
}
#myAccount.active .custom-pager{
    #background-color: rgba(0,0,0,0.5);
    bottom: 0px;
}
.custom-pager li{
    padding: 5px 10px;
    width: 193px;
    position: relative;
    margin: 0px 20px 10px 20px;
    border-bottom: 4px solid rgb(188, 188, 188);
}
.custom-pager li span{
    opacity: 0;
    transition: opacity 0.4s;
}
.custom-pager li.active span, .custom-pager li:hover span{
    opacity: 1;
}
.custom-pager li:after{
    position: absolute;
    content: '';
    height: 4px;
    width: 0%;
    background: rgb(255,221,50);
    bottom: -4px;
    left: 0px;
    transition: width 0.8s;
}
.custom-pager li.active:after{
    width: 100%;
}
.profile-bar{
    background-color: #ececec;
    width: calc(100% - 70px);
    position: fixed;
    z-index: 13;
    top: 66px;
    margin-left: 70px;
}
.profile-bar .profile-photo{
    width: 66px;
    padding: 3px;
}
.profile-bar .profile-table{
    transform: translate(-105px, 0px);
    position: relative;
    z-index: 107;
}
.profile-bar .profile-table td.text{
    padding-left: 10px;
}
.user-welcome table{
    height: 100%;
}
.user-welcome h1{
    line-height: 0.8em;
    position: relative
}
.user-welcome h1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    display:inline-block;
}
.user-welcome h1 div.profile-photo{
    display: inline-block;
    position: relative;
    transform: translate(0px,19px);
     z-index: 4;
}
.user-welcome h1 div.profile-photo:after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    background: #444;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 90%;
    background-image: url("../img/camera-icon.png")
}
.full-height{
    height: 100vh;
}
.user-welcome td.user-info{
    padding: 0px 10px 20vh 20px;
}
.user-welcome #roundSlider{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.user-welcome #roundSlider .target{
    height: 45px;
    width: 45px;
    background-image: url("../img/drag-icon.png");
    background-size: 100% 100%;
    transform: rotate(-180deg);
    position: absolute;
    z-index: 5;
    top: 0px;
    left: -22px;
}
.user-welcome #roundSlider .rs-border{
    border:none;
}
.user-welcome h1:after{
    position: absolute;
    content: '';
    width: 200px;
    height: 2px;
    background: #b8b8b8;
    left: 0px;
    bottom: 5px;
}
.user-welcome h2{
    margin-bottom: 1px;
    margin-top: 13px;
    font-weight: normal;
    line-height: 1em;
}
.user-welcome button#seeDetailsBtn{
    #width: 200px;
}
.user-welcome .section-title-text{
    padding: 2px 0px;
    font-size: 2.6em !important;
    font-weight: normal;
}
.user-welcome #roundSlider .rs-range-color, .user-welcome #roundSlider .rs-bg-color, .user-welcome #roundSlider .rs-path-color{
    background: transparent;
}
.user-welcome .section-title-text small{
    margin: 0px !important;
}
.user-welcome .rs-handle{
    background: transparent;
    background-image: url("../img/drag-icon.png");
    background-size: 100% 100%;
    transform: rotate(90deg);
}
.user-welcome #roundSlider .caption{
    margin: 32px 12px 0px 0px;
}
.user-welcome .rs-bg-color{
    background-color: transparent;
}
.viewHistoryBtn{
    margin-top: 30px;
}
.coverBackground{
    background-size: cover;
    background-position: center center;
}
.block-menu .item{
    min-height: 184px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    margin: 10px 0px;
}
.block-menu .item:not(:last-child){
    border-right: 10px solid #fff;
}
.block-menu .item .item-title{
    font-size: 2em;
    padding: 81px 0px;
    z-index: 2;
    position: relative;
}
.block-menu .item .background-holder{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.block-menu .item:hover .background-holder{
    transform: scale(1.2);
}
.block-menu .item a:hover{
    text-decoration: none;
}
#loginForm fieldset{
    max-width: 420px;
    display: inline-block;
    margin: 0px auto;
    width: 100%;
}
#loginForm .form-group input{
    width: 100%;
    padding: 10px 10px;
    background-color: #fdcc40;
}
#loginForm .form-group input:invalid{
    border-bottom-color: red;
    outline: none;
    box-shadow: none;
}
.logout{
    display: inline-block;
    position: absolute;
    bottom: 21px;
    left: calc(50% - 39px);
}
.logout .icon{
    font-size: 12px;
    margin-right: 10px;
}
.logout .text{
    font-size: 12px;
}
.loginPage main{
    min-height: 94vh;
}
#loginForm .bordered-btn:hover{
    color: #444;
    border-color: #444;
}
.loginPage #shareBtn:hover .social-share img{
    opacity: 1;
}
.social-share img{
    padding: 0px 3px;
    opacity: 0;
    transition: opacity 0.5s;
}
.bxSlider ul li{
    max-height: 47vw;
    overflow: hidden;
}
#promotions .bxSlider ul li{
    max-height: 32vw;
}
.text-bottom-bordered{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.loginPage .login-section{
    padding: 0px;
    margin-top: 19vw;
}
.loginPage form#loginForm{
    padding: 10px 0px;
    text-align: center;
}
.loginPage .language-selection select{
    margin: 20px 1px 0px 0px;
    height: 36px;
    width: 130px;
    background-color: transparent;
    border: none;
    /*! border-radius: 25px; */
    padding-left: 10px;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align: right;
    padding-right: 10px;
}
.loginPage .language-selection:after{
    content:'\203A';
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 21px;
    transform: rotate(90deg);
    transform-origin: 1px 12px;
}
.loginPage .language-selection option{
    padding: 2px 10px;
    background: transparent;
    -moz-appearance: none;
}
.loginPage .form-help{
    font-size: 0.9em;
    padding: 6px 0px;
}
.textbg{
    font-size: 5em;
    font-weight: bold;
}
.textbg2{
    font-size: 3em;
}
.superBig{
    font-size: 9em;
}
.input-help-button{
    background: transparent;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 45px;
    width: 37px;
}
.nuxusBtn1{
    background: transparent;
    border: 2px solid #fff000;
    min-height: 55px;
    width: 140px;
    position: relative;
    margin: 15px 0px;
    text-transform: uppercase;
    padding: 10px;
}
.nuxusBtn1:after{
    border: 2px solid #fff000;
    width: 140px;
    height: 105%;
    position: absolute;
    top: 2px;
    left: 3px;
    content: '';
    display: block;
}
.nuxusBtn1:disabled, .nuxusBtn1:disabled:after{
     border: 1px solid #aaa;
    opacity: 0.5;
}
.nuxusBtn1.wide, .nuxusBtn1.wide:after{
    width: 300px;
    font-size: 0.95em;
}
.parallax-window{
    /*! height: 100vh; */
    /*! position: absolute; *//*! z-index:4; */
    /*! top: 0px; */
    /*! left: 0px; */
}
.section{
    margin-bottom: 100px;
    position: relative;
    width: 100%;
}
.section.rewards{
    padding: 44px 0px;
    background-color: rgba(255, 255, 255, 0.87);
}
#homepage .section.dashboards{
    transform: translate(0px, -34px);
}
.section.no-margin-bottom{
    margin-bottom: 0px;
}
#home{
    /*! padding-top: 66px; */
}
.section.promotions .full-vp-height, .section.dashboards .full-vp-height{
    height: 600px;
}
.nexus-heading{
    font-family: serif;
    font-style: italic;
}
.section.rewards td{
    height: 600px;
}
.dashboards .dash-caps p{
    margin: 13px 0px 32px 0px;
}
.section .section-texts{
    font-size: 12px;
}
#myAccount.section{
    margin-bottom: 10px;
    height: 100vh;
}
.section .section-title-text{
    font-size: 3em;
    position: relative;
    margin-top: 0px;
    margin-bottom: 28px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.bannerSlider .section-title-text{
    margin-bottom: 10px;
}
.section .section-title-text small{
    margin-right: 5px;
}
.section .section-title-text small.caption{
    font-size: 0.33em;
}
.section .section-title-text:before{
    content: '';
    width: 53px;
    height: 3px;
    background: rgb(255,220,0);
    display: block;
    position: absolute;
    bottom: 10px;
    left:0px;
}
.search-box{
    padding: 10px 0px;
    margin-top: 20px;
}
.search-box input{
    border-bottom: 1px solid rgb(149, 149, 149);
    width: 100%;
    padding: 10px 0px 10px 10px;
}
.bannerSlider{
}
.bx-wrapper .bx-viewport{
    border: none;
    left: 0px;
    box-shadow: none;
}
.bx-wrapper img{
    width: 100%;
}
.dashboards .innerblock{
    margin-top: 60px;
}
.dashboards .floats{
    padding: 0px;
}
.dashboards .leaderboard{
    
    padding-left: 20px;
}
.dashboards .leaderboard .chartContainer{
    height: 447px;
}
.dashboards .floats .chartContainer.target-container{
    height: 137px;
}
.dashboards .chartContainer{
    padding: 14px 0px;
    margin-bottom:10px;
    perspective: 1200px;
}
.dashboards .chartContainer .title{
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
    padding: 0px;
}
.dashboards .chartContainer .title small{
    font-size: 0.6em;
    line-height: 2em;
}
.dashboards .dashboard-nav{
    display: inline-block;
    background-color: #fcb033;
    width: 100px;
    text-align: center;
}
.dashboards .dashboard-nav .dot{
    width: 8px;
    height: 8px;
    background: #fff;
    display: inline-block;
    margin: 20px 3px;
}
.dashboards .dashboard-nav .dot.active{
    transform: scale(1.2);
}
/*
.dashboards .dashboard-nav span{
    padding: 30px 49px;
    font-size: 20px;
    color: #fff;
}*/
#dashboards .dash-tile{
    width: 146px;
    height: 134px;
    background-color: #fcb033;
    float: left;
    margin-right: 10px;
    margin-top: 35px;
    box-shadow: 1px 1px 1px 1px #888;
}
#dashboards .dash-tile .dash-title{
    font-size: 17px;
    margin: 7px 0px;
    font-family: serif;
    color: #111;
    font-style: italic;
}
#dashboards .dash-tile .dash-icon{
    opacity: 0.5;
}
.chartContainer .back, .chartContainer .front{
    backface-visibility: hidden;
    transition: transform 0.5s;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 100%;
    color: #717171;
}
.chartContainer.salesvsearning{

}
.chartContainer #salesVsEarning{
    height: 350px;
    padding-bottom: 10px;
    padding-top: 12px;
}
.chartContainer .front{
    padding: 25px;
}
.leaderboard .front{
    background-image: url("../img/Dashboard-Leaderboard-background_V.1.0.jpg");
    background-size: 100% 100%;
}
.chartContainer.salesvsearning .front{
    background-size: 100% 100%;
    background-image: url("../img/Dashboard-SvsA-background_V.1.0.jpg");
}
.chartContainer .back{
    transform: rotateY(180deg);
}
.chartContainer.rotated .front{
    transform: rotateY(180deg)
}
.chartContainer.rotated .back{
     transform: rotateY(360deg)
}
#earnhistory label{
    font-weight: normal;
}
#earnhistory .pad-eight{
    margin: 4px 15px 0px 0px;
}
#earnhistory .marg-top-double{
    padding: 10px 0px;
}
#earnhistory #leaderboard td{
    text-align: left;
    
    padding-left: 15px;
}
.chartContainer .tvsA-icon{
    position: absolute;
    top: -55px;
    right: -9px;
    width: 60px;
}
.fillchart{
    position: relative;
    height: 28px;
    margin-top: 17px;
}
.fillchart div{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}
.fillchart .target{
    width: 28px;
    height: 28px;
    background: rgb(34,199,144);
    border-radius: 50%;
    top: 0px;
    left: auto;
    z-index: 1;
}
.fillchart .track{
   height: 28px; 
}
.fillchart .fill{
    height: 100%;
    border-radius: 19px;
    transition: width 1s;
    transition-delay: 0.3s;
    overflow: hidden;
    position: relative;
    z-index: 6;
    width: 0%;
}

.fillchart .fill span{
    color: #fff;
    padding: 3px 10px;
    display: inline-block;
}
.chartContainer .chartSection{
   height: 94px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    position: relative;
}

.chartContainer .chartSection#salesVs
Earning{
    height: 278px;
}
.chartContainer .chartSection#salesVsEarning .labels li{
    display: inline-block;
    padding: 0px 10px;
    position: relative;
}
.chartContainer .chartSection#salesVsEarning .labels li:after{
    content: '';
    width: 45px;
    height: 10px;
    left: 19px;
    bottom: 1px;
    background: #444;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
}
.chartContainer .chartSection#salesVsEarning .labels li#Sales:after{
    background-color: rgb(1,193,167);
}
.chartContainer .chartSection#salesVsEarning .labels li#Earning:after{
    background-color: rgb(101,206,105);
}
.chartContainer.salesvsearning h3{
    padding: 20px 20px 0px 20px;
}
.chartContainer .chartSection .onshowHover{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
}
.chartContainer .chartSection:hover .onshowHover{
    opacity: 1;
}
.chartContainer .labels{
    padding: 5px 20px;
    margin: 2px 10px;
    
}
.chartContainer .labels label{
    font-size: 1em;
    font-weight: normal;
}
.chartContainer .chartSection h3{
    float: none;
    clear: both;
}
.dashboards .table, .dashboards .header-sm{
    width: 100%;
    margin-bottom: 0px;
}
.dashboards .table.table-striped > tbody > tr:nth-of-type(2n+1){
    background: #fff !important;
}
.dashboards .table.table-striped > tbody > tr:nth-of-type(1n+1){
    background-color: rgb(236,236,236);
}
.dashboards .table.table-striped tr td{
    height: 36.9px;
    vertical-align: middle;
    font-size: 0.9em;
    padding: 0px;
}
.dashboards .table.table-striped tr.active td{
    background-color: rgb(0,148,167);
    color: #fff;
    height: 41px;
}
.dashboards .table.table-striped tr.active{
    animation: zoom 1s linear 5s infinite alternate;;
}
.dash-texts{
    background-color: rgba(255,255,255, 0.4);
}
@keyframes zoom{
    0% {transform: scale(0.98)}
    50% {transform: scale(1)}
    100% {transform: scale(0.98)}
}
.gallery-container .items{
    min-height: 200px;
    position: relative;
    overflow: hidden;
}
.gallery-container .items .background-holder{
    position: absolute;
    width: 100%;
    top: 0px;
    left:0px;
    height: 100%;
    transition: all 1.5s;
}
.gallery-container .items:hover .background-holder{
    transform: scale(1.2);
}
.gallery-container .items a{
    position: relative;
    z-index: 4;
    padding: 76px 0px;
    display: block;
    line-height: 2.5em;
}
.gallery-container .items a h2{
    font-size: 2.7em;
}
.gallery-container .items a:hover{
text-decoration: none;
}
.promotions .bxSlider .text-content{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
}
.promotions .bxSlider .text-content table, .promotions .bxSlider .text-content table td{
    height: 100%;
    vertical-align: bottom;
}
.promotions .bxSlider .text-content table td{
    font-size: 1em;
    line-height: 1.6em;
    padding-bottom: 40px;
    text-align: center;s
}
.promotions .text-content table td h3{
    font-weight: bold;
    font-size: 3em;
    text-align: left;
    margin-bottom: 10px;
}
.promotions .text-content table td p{
    font-size: 1.8em;
    line-height: 1.2em;
    text-align: left;
    margin-bottom: 20px;
}
.promotions .text-content table td a{
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid rgb(255,220,0);
    text-transform: uppercase;
}
.promotions .text-content table td a:hover{
    text-decoration: none;
}
.promotions .bx-wrapper .bx-pager, .promotions
.bx-wrapper .bx-controls-auto{
    bottom: 0px;
    text-align: left;
    position: relative;
    margin: 0px auto;
}
.bannerSlider .bx-controls {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 1;
}
.chartContainer.whiteBorder{
    padding: 15px 20px;
    background: #fff;
}
.bannerSlider .bx-wrapper .bx-pager{
    text-align: left;
    max-width: 1366px;
    margin: 0px auto;
    position: static;
    padding-left: 20px;
}
.promotions ul{
    padding: 0px;
}
.promotions .bx-wrapper .bx-pager .bx-pager-item{
    margin: 10px 0px;
    position: relative;
    z-index: 1;
}
.promotions .bx-wrapper .bx-pager.bx-default-pager a{
    background-color: #5d585f;
}
.promotions .bx-wrapper .bx-pager.bx-default-pager a:hover,
.promotions .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color: #fff;
    border: 4px solid #5d585f;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.bannerSlider .bx-wrapper .bx-pager.bx-default-pager a{
    background-color: rgba(147, 147, 147, 0.7);
}
.bannerSlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.bannerSlider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #fb2121;
}
.promotions{
    width: 100%;
}
.aboutProgram{
    height: 464px;
}
.aboutProgram .program-items{
    margin: 0px auto 30px auto;
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    height: 45%;
    overflow: hidden;
    /*! padding: 0px 27px; */
    cursor: pointer;
}
.aboutProgram .program-items:nth-child(1){
    left: 0%;
    top:0%;
}
.aboutProgram .program-items:nth-child(2){
    left: 50%;
    top:0px;
}
.aboutProgram .program-items:nth-child(3){
    left: 0%;
    top:50%;
}
.aboutProgram .program-items:nth-child(4){
    left: 50%;
    top:50%;
}
.aboutProgram .program-items.active{
    z-index: 4;
    top: 0px !important;
    left: 0px !important;
    width: 100%;
    height: auto;
    position: absolute;
    padding: 0px 10px 27px 10px;
    cursor: default;
}
.aboutProgram .program-items.active .section-title{
    background-color: rgb(236,236,236);
    transition:background 0.5s;
}
.aboutProgram .program-items.active li.section-title.active{
    font-weight: bold;
    color: #777;
}
.aboutProgram .program-items .section-title{
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
    color: #b7b7b7;
    padding: 4px 36px;
    background-color: transparent;
}
.aboutProgram .program-items li.section-title{
    font-size: 1.1em;
    width: auto;
    padding: 0px;
}
.aboutProgram .program-items ul.has-divider{
    margin-bottom: 0px;
    background-color: rgb(236,236,236);
    padding: 10px 35px;
}
.aboutProgram .program-items ul.has-divider li:after{
    margin: 0px 6px;
}
.aboutProgram .program-items .close{
    color: #fff;
    opacity: 1;
    display: none;
}
.aboutProgram .program-items.active .close{
    display: block;
}
.aboutProgram .program-items .contents{
    padding: 40px 20px;
    overflow: hidden;
    height: 88%;
}
.aboutProgram .program-items .contents .contentbody{
    padding-top: 74px;
}
.aboutProgram .program-items.active .contents{
    height: 100%;
}
.aboutProgram .program-items.active .contents .contentbody{
    padding-bottom: 200px;
    height: 100%;
    line-height: 1.5em;
    padding-top: 153px;
}
.aboutProgram .program-items.active .contents .contentbody ul{
    padding: 0px;
}
.aboutProgram .program-items.active .contents .contentbody ul li{
    line-height: 2em;
    list-style: none;
}
.aboutProgram .program-title{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
.aboutProgram .program-items.inactive .contenttitle, .aboutProgram .program-items.inactive .contentbody{
    width: 100%;
}
.aboutProgram .program-items.inactive .contentbody{
    padding-top: 20px;
}
.promotions .bxSlider .absolute-right{
    z-index: 3;
    color: #fff;
}
.aboutProgram .minimizeBTn{
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
}
.section#aboutProgram{
    margin-bottom: 100px;
}
.promotions #timeoutIndicator{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 0;
}
.promotions .bx-controls{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.promotions .bxSlider #timeoutIndicator #handle{
    height: 4px;
    width: 100%;
    background: yellow;
}
.promotions .textbox{
    width: 428px;
}
footer{
    padding: 10px 0px;
    font-size: 0.9em;
}
footer.page-footer{
    background-color: rgba(26, 25, 25, 0.78);
    padding: 70px 10px;
}
footer ul{
    margin-bottom: 0px;
    padding-left: 0px;
}
footer .inline-list.has-divider li:not(:last-child):after{
    margin: 0px 5px;
}
footer ul li{
    font-size: 0.9em;
}
.filter{
    padding: 10px 0px;
}
.filter .group{
    /*! padding-right: 0px; */
    /*! padding-left: 15px; */
}
.filter .group input[type="text"]:last-child{
    margin-left: -1px
}
.filter label{
    /*! min-width: 100px; */
    margin-top: 10px;
    font-weight: normal;
    padding: 0px;
}
.filter select, .filter input, .border-input input, .border-input select{
    padding-left: 10px;
    height: 40px;
    border: 1px solid #ccc;
    background: transparent;
}
.editProfile .group{
    padding: 20px 10px;
}
.editProfile .group.security{
    margin-top: 10px;
}

.editProfile .group .profile-pic{
    width: 120px;
    height: 120px;
    margin-top: -92px;
    margin-bottom: 7px;
}
.editProfile .group .profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.editProfile .profile-pic img.cameraIcon{
    position: absolute;
    top: 40px;
    right: -5px;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.editProfile .group .form-group{
    margin-bottom: 2px;
}
.editProfile .group label{
    margin-top: 7px;
    font-weight: normal;
    font-size: 0.85em;
}
.editProfile .group input, .editProfile .group select{
    height: 38px;
    font-size: 0.9em;
    background-color: #fff;
}
.editProfile .form-wrapper{
    margin-top: 49px;
}
.multipleslider .item{
    width: 500px;
    background-color: #edeef0;
    float: left;
    transform: scale(0.8);
    transition: transform 0.5s;
}
.multipleslider .active .item{
    transform: scale(1);
}
.multipleslider .item .thumb{
    width: 100%;
}
.multipleslider .item .title{
    font-size: 1.5em;
    padding: 20px;
    color:#444;
    line-height: 1.4em;
}
.multipleslider .mask{
    width: 100%;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
.multipleslider .mask .itemscontainer{
    position: absolute;
    height: 410px;
    top: 0px;
    left: 0px;
}
.multipleslider{
    position: relative;
    height: 412px;
}
.multipleslider .control-btn{
    position: absolute;
    top: 50%;
    background: transparent;
    border: none;
    font-size: 4em;
    color: rgb(255,220,0);
}
.multipleslider .control-btn:disabled{
    color: #ddd;
}
.multipleslider .control-btn.btn-right{
    right: 0px;
}
.multipleslider .control-btn.btn-left{
    left: 0px;
}
.myprofileSection .multipleslider .control-btn{
    font-size: 7em;
    height: auto;
    top: 109px;
}
.myprofileSection .multipleslider .control-btn:disabled{
    display: none;
}
.rewards .rewards-text{
    border: 1px solid #333;
    border-right: none;
    padding: 64px 40px;
}
.rewards .rewards-text h3{
    margin-bottom: 20px;
}
#articles .tab{
    padding: 0px;
}
#articles .articles-showcase{
    /*! border: 1px solid #e1e1e1; */
    padding: 0px;
}

#articles .tab li{
    width: 50%;
    float: left;
    border: 1px solid #e1e1e1;
    padding: 10px 20px;
    border-top: 0px;
    text-align: center;
    /*! border-right: 0px; */
}
#articles .tab li.inactive{
    background: #ccc;
}
#articles .tab li:first-child{
   transform: translate(-1px, 0px);
}
#articles .tab li:nth-child(2){
   transform: translate(1px, 0px);
}
#articles .tab li.active{
    border: none;
}
#articles .article-list{
    padding: 10px 14px;
}
#articles .article-list img{
    padding: 0px;
    width: 100%;
}
#articles .article-list .text-sec{
    margin: 10px 0px;
}
#articles .article-list p.title{
    font-size: 0.9em;
    line-height: 1.3em;
}
#articles .article-list .date{
    color: #e8058a;
    font-size: 10px;
}
#articles .artile-image{
    width: 300px;
    margin: 0px 10px 10px 0px;
    float: left;
}

#articles .article-heading{
    font-family: serif;
    font-style: italic;
}
#articles ul.social-icons{
    margin: 0px 0px 10px 0px;
}
#articles ul.social-icons img{
    width: 35px;
    margin: 0px 5px;
}
#articles .input-block{
    width: 450px;
}
#promotions .promotion-list{
    padding: 0px;
}
#promotions .promotion-list li{
    padding: 10px 20px;
    font-size: 1.1em;
}
#promotions .promotion-list li.active{
    color: #fbd81e;
    font-size: 2.5em;
}
#promotions .promo-bg{
    height: 27vw;
    background-size: cover;
}
#promotions .promotion-details{
    margin-top: 50px;
}
#promotions .promotion-details td{
   
}
#promotions .promotion-details ul{
    padding-left: 20px;
}
#promotions .promotion-details ul li{
    margin: 5px 0px;
}
#promotions .promo-banner .promo-title{
    position: absolute;
    right: 38px;
    bottom: 21px;
}
#myaccountmenu .thumb-menu a{
    padding: 78px;
    display: block;
}
.promotion-slide{width: 70%;}
.promotion-details{
    background-color: #8ec62b;
    color: #000;
    padding: 51px;
    max-width: 506px;
    text-align: center;
    position: absolute;
    min-height: 224px;
    bottom: 20px;
    right: 0px;
    z-index: 2;
    width: 100%;
}
.promotion-details  h3{
    margin: 0px 0px 10px 0px;
}
.promotion-details p{
    font-size: 12px;
}
.myprofileSection .multipleslider .item{
    background: transparent;
    color: #fff;
    border-style: solid;
    border-width: 22px;
    font-size: 2.5em;
    line-height: 1.2em;
     transform: scale(0.86);
    transition: border 0.7s;
}
.myprofileSection .multipleslider .item:hover{
    border-color: #fff;
}
.myprofileSection .multipleslider .item button.blockBTn{
    width: 100%;
    height: 200px;
    background: transparent;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}
.myprofileSection .multipleslider .item small{
    font-size: 0.4em;
    font-weight: normal;   
}
.myprofileSection .multipleslider .active .item{
    transform: scale(0.86);
}
.myprofileSection .multipleslider{
    
    position: static;
    height: 249px;
}
.myprofileSection .multipleslider .itemscontainer{
    height: 230px;
}
.myprofileSection #viewSummary{
    position: absolute;
    bottom: 14px;
    right: 52px;
}
#about .about-title, .inner-heading, .section-titles{
    font-family: serif;
    margin: 20px 0px;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}
#about p{
    font-size: 12px;
}
#about .about-table td{
    font-size: 12px;
}
#promotions .left-box{
    /*! background-color: #8ec62b; */
    color: #222;
    /*! padding: 20px; */
    /*! margin: 0px 0px 0px 6px; */
}
#promotions .left-box .note-box{
    padding: 10px;
}
#promotions .left-box .claim-btn{
    width: 100%;
    margin-top: 10px;
}
#promotions .bx-wrapper{
    margin-bottom: 0px;
}
#promotions .left-box p{
    margin-bottom: 10px;
    line-height: 16px;
}
#promotions .bx-wrapper .bx-pager{
    bottom: 10px;
    width: 200px;
    left: 0px;
}
#promotions .promo-codes{
    width: 400px;
    margin-top: 10px;
}
#promotions .promo-codes td{
    padding: 5px 2px;
}
#promotions .promo-codes tr:not(:first-child){
    border-top: 1px solid #888;
}
#promotions .promo-codes td:not(:first-child){
    border-left: 1px solid #888;
}
#promotions .bx-pager.bx-default-pager a.active{
   background-color: #fff;
   border: 3px solid #666;
   width: 14px;
   height: 14px;
   border-radius: 50%;
}
#dashboards{
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: calc(100vh);
}
.dash-bg{
    max-width: 65vw;
    max-height: 100%;
}
#articles .section-titles{
    font-size: 19px;
    margin: 12px 0px 2px 0px;
}
.tree-grid .level-2 td:first-child{
  padding-left: 20px;
}
.tree-grid .level-3 td:first-child{
  padding-left: 40px;
}
.tree-grid .level-4 td:first-child{
  padding-left: 60px;
}
.tree-grid .level-5 td:first-child{
  padding-left: 80px;
}
.tree-grid .level-6 td:first-child{
  padding-left: 100px;
}
.tree-grid .level-7 td:first-child{
  padding-left: 120px;
}
/*Web responsive selectors*/
@media screen and (max-width:1366px){
    .container-nexus{
        padding-left:150px;
        padding-right:150px;
    }
    
    .promotions #timeoutIndicator{
        /*! padding-left: 425px; */
    }
    #articles .multipleslider{
        height: 38vw;
    }
    #articles .multipleslider .mask .itemscontainer{
        height: 34vw;
    }
    
}
@media screen and (min-width:992px){
    .hidden-md-up{
        display: none;
    }
   
    .editProfile .group.address{
    padding-top: 56px;
}
    .page-nav .menu{
        top: 0px;
        padding-top: 0px;
        position: relative;
        width: auto;
    }
    .page-nav .menu ul,  .page-nav.fixed .menu ul{
        background-color: transparent;
    }
    .page-nav .menu ul li{
        padding: 4px 21px;
    }
    .page-nav .menu ul li img{
        width: 30px;
    }
    
   
}
@media screen and (max-width:991px){
    .user-welcome{
        /*! min-height: 882px; */
        height: 100vh;
    }
     .myprofileSection .multipleslider .item{
        font-size: 2em;
    }
    .custom-pager li span{
        opacity: 1;
    }
    .promotions .bxSlider .text-content table td h3{
        font-size: 2em;
    }
    .promotions .bxSlider .text-content table td p{
        font-size: 1.1em;
    }
    #myAccount .custom-pager{
        bottom: -100%;
    }
    #promotions .promo-bg{
        height: 350px
    }
    .filter input, .border-input input, .border-input select{
        border-left: 0px;
    }
    .hidden-sm-down{
        display: none;
    }
    .loginPage .login-section{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 17vh;
    }
    .loginPage main{
        min-height: 100vh;
    }
    #loginForm fieldset{
        float: none !important;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
    }
    .user-welcome td, .bannerSlider{
        min-height: 100vh;
        font-size: 0.9em;
    }
    .user-welcome .bx-wrapper{
        display: none;
    }
    .dashboards .leaderboard{
        padding-left: 0px;
    }
    .bannerSlider .bxSlider .bx-wrapper{
        display: none;
    }
    .dashboards .floats .chartContainer.target-container{
        height: 200px;
    }
    #promotions .bxSlider ul li{
        height: 32vw;
        max-height: initial;
    }
}
@media screen and (max-width:768px){
    .layout-cell{
        display: block;
        width: 100%;
    }
    main.sections, .padding-for-menu{
        padding-left: 40px;
    }
    .inline-list.has-divider li:not(:last-child):after{
        margin: 0px 5px;
    }
    .side-nav{
        width: 40px;
    }
    .side-nav table .section-indicator p{
        left: -15px;
        font-size: 12px;
    }
    .fullscr-page-nav .nav-menu .main-items h2{
        font-size: 15px;
        padding: 5px 3px;
    }
    .logout{
        margin-top: 20px;
    }
    .custom-pager li{
        width: 90px;
        font-size: 0.7em;
    }
    .table-responsive{
        overflow-x: auto;
    }
    .aboutProgram .program-title{
        font-size: 1.5em;
    }
    .page-nav .menu ul li{
        width: 90px;
        padding: 0px 5px;
        min-width: initial;
        vertical-align: top;
    }
    #articles .multipleslider .item,  #articles .multipleslider .active .item{
        transform: scale(0.95);
    }
    #articles .articles-showcase{
       margin-top: 50px;
    }
    #articles .text-sec{
        padding: 15px 0px;
    }
    #articles .multipleslider{
        height: 70vw;
    }
    #articles .multipleslider .item .title{
        font-size: 1em;
    }
    .editProfile .group.security select, .editProfile .group.security input{
        margin-bottom: 10px;
    }
    .aboutProgram {
        height: 1382px;
    }
    .aboutProgram .program-items:nth-child(2){
        left: 0%;
        top: 350px;
    }
    .aboutProgram .program-items:nth-child(3){
        top: 700px;
    }
    .aboutProgram .program-items:nth-child(4){
        left: 0%;
        top: 1050px;
    }
    .aboutProgram .program-items{
        height: 300px;
        padding: 0px 10px;
    }
    #promotions .bxSlider ul li{
        max-height: initial;
        height: 55vw;
    }
    .promotions .textbox{
        width: calc(100% - 20px);
    }
    .container-nexus{
        padding-left:10px;
        padding-right:10px;
    }
    .section .section-title-text{
        font-size: 2em;
    }
    .earnHistory .filter{
        margin-top: 30px;
    }
    
}
@media screen and (max-width: 450px){
    #loginForm fieldset{
        margin-left: 0px;
        margin-top: 20px;
    }
    .myprofileSection #viewSummary{
        right: 10px;
        bottom: 5px;
    }
    .aboutProgram .program-items .contents{
        padding: 40px 10px;
    }
    .myprofileSection .multipleslider .control-btn{
        top: 50px;
    }
    .myprofileSection .multipleslider .item button.blockBTn{
        height: 140px;
    }
    .myprofileSection .multipleslider {
        height: 150px;
    }
    .myprofileSection .multipleslider .itemscontainer{
        height: 145px;
    }
    .myprofileSection .multipleslider .active .item, .myprofileSection .multipleslider .item{
        font-size: 1.3em;
        transform: scale(0.8);
        border-width: 5px;
    }
    .custom-pager li{
        width: 85px;
        font-size: 0.7em;
        margin: 0px 5px 5px 5px;
    }
    .page-nav .logo, .login-nav .logo{
        height: 30px;
    }
    .dashboards .header-sm{
        font-size: 1.3em;
    }
    .section .section-title-text{
        font-size: 2.7em !important;
    }
    .user-welcome td{
        padding: 10px 10px 10px 20px;
    }
    .promotions .bxSlider .text-content table{
    }
    .promotions .bxSlider .text-content table td{
        /*! display: block; */
        /*! height: 100%; */
        /*! overflow-y: auto; */
    }
    #promotions .bxSlider ul li{
        height: 340px;
    }
}
