<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			


			articles : [
					{
						imgSrc : "img/articles/article1.jpg",
						title : "Recent The Blurred Line of Channel Engagement",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article2.jpg",
						title : "Recent Ideas That Inspire Us To Engage Your World",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article3.jpg",
						title : "Recent Nudge Your Sales Reps to Higher Performance",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article4.jpg",
						title : "Recent The Best Way To Get Started Is To Get In Touch",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article5.jpg",
						title : "Recent 9 Sales Rewards Trends for 2017",
						date : "04/12/2017",
						href : "#"
					},
				],
				
			
			
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav">
    <!-- <nav class="side-nav"> -->

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

        <div id="articles" class="section firstPad" ng-controller="Articles" data-section="Articles">
            <div class="">
                <div class="container-nexus self-clear">

                    <ul class="social-icons col-sm-4 inline-list self-clear pull-left">
                        <li class="social-icons">
                            <a href="#"><img src="img/facebook.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/twitter.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/google+.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/linkedin.png"></a></li>
                    </ul>
                    

                    <!-- <div class="input-block pull-right">
                        <input type="text" placeholder="search article...">
                        <span class="input-icon glyphicon glyphicon-search"></span>
                    </div> -->
                </div>
            </div>

            <div class="container-nexus self-clear">
                
                <div class="col-sm-8">
                    
                    
                
					<img src="img/articles/article4.jpg" class="artile-image">
					
					<h2 class="article-heading">The Blurred Line of Channel Engagement.</h2>
					<p class="redFont">18/07/2017</p>
					<br>
                    <p>When their team needs to meet an ambitious sales goal, managers often turn to incentive programs as a proven method of motivating employees to perform at higher levels. And while it can be intuitive to believe the risk-loving nature of salespeople would lead to both high goal selection and high goal achievement, research is proving otherwise. Download our article to explore the findings of this research, including how applying behavioral science to an incentive program design can give reps the nudge they need to higher performance. In the article you will learn the key components of an effective sales incentive program.
                    
                        <br><br>
                        
                    We’ll let you in on a trade secret: cash really isn’t the most powerful motivator. Research — and our extensive field experience — proves that people work harder to earn an experience than they do for cash. It’s about earning the right to indulge, unwind and restore. It’s about treating their families to something out of the ordinary.
                    
                    <br><br>
                    
                    
                    Our team designs, manages and measures exceptional individual travel programs. We hear every day how our incentive trips are disruptive in the most positive way: they change the game by motivating and inspiring those who take them and those who aspire to take them. Our clients aren’t the only ones who have taken notice. We received the prestigious Crystal Award from the Society for Incentive Travel Excellence (SITE).
                    
                    <br><br>
                    
                    Why does incentive travel matter? Think of it this way: Which would be more impactful on your life: cash that would probably end up filling your gas tank? Or zip lining over the rainforest? What about biking the Golden Gate Bridge with your family or hitting the track at the Indy 500? The advantage to both individual and DIY travel incentives is that you decide which type of trip you want to take and when you want to take it. Then you can either work with our travel consultants or do it yourself to fit exactly what you need. 
                    
                    </p>
                    
                </div>


                <div class="col-sm-4 articles-showcase">
                    
                    
                    <p class="redFont text-center">LATEST STORIES</p>

                    <div class="hr-triangle">
                        <div class="triangle"></div>
                    </div>
                    
                    
                    <div class="row">
                    
                        <div class="article-list self-clear col-sm-6" ng-repeat="x in articles">
                            <a ng-href="{{x.href}}">
                            <img ng-src="{{x.imgSrc}}" class="article-thumb">
                            
                            <div class="text-sec">
                                <p class="title" ng-bind="x.title"></p>
                                <p class="date" ng-bind="x.date | date">
                            </div>
                            </a>
                        </div>
                    </div>
                
                
                </div>
            
            </div>
        </div>


    </main>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>