<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">


	<script>

		var dynamicData = {

			userInfo : {
				firstName : "Ashish",
				secondName : "Kumar",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Michelin",
				logoImgSrc : "img/logo.png",
				logo2ImgSrc : "img/Bandhan_Logo.png",
			},

			pageNav : {
				items : [
					{
						imgSrc : "img/my-account1.png",
						label : "My Account",
						hrefId : "myAccount",
					},
					{
						imgSrc : "img/dashboard1.png",
						label : "Dashboards",
						hrefId : "dashboards",
					},
					{
						imgSrc : "img/promotions1.png",
						label : "Promotions",
						hrefId : "promotions",
					},
					{
						imgSrc : "img/rewards-gallery1.png",
						label : "Rewards Gallery",
						hrefId	: "rewards",
					},
					{
						imgSrc : "img/about-program.png",
						label : "About the Program",
						hrefId : "aboutProgram"
					},
					{
						imgSrc : "img/article.png",
						label : "Articles",
						hrefId : "articles",
						active : true,
					},
					
				]
			},

					

			
			articles : {
				
				recent : [
					{
						imgSrc : "img/articles/article1.jpg",
						title : "Recent The Blurred Line of Channel Engagement",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article2.jpg",
						title : "Recent Ideas That Inspire Us To Engage Your World",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article3.jpg",
						title : "Recent Nudge Your Sales Reps to Higher Performance",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article4.jpg",
						title : "Recent The Best Way To Get Started Is To Get In Touch",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article5.jpg",
						title : "Recent 9 Sales Rewards Trends for 2017",
						date : "04/12/2017",
						href : "#"
					},
				],
				
				
			},
		};


	</script>


</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

<div class="wrapper">

	<!-- <nav class="page-nav self-clear" ng-navscroll> -->
	<nav class="page-nav self-clear fixed">

		<div class="container-nexus nav-static self-clear">
			<div class="nav-item pull-left">
				
				<button class="menuTrigger transparentBtn hidden-md-up" ng-class="(menu.state)?'active':'inactive'" ng-click="menu.toggle();">
					<span class="glyphicon glyphicon-menu-hamburger yellowFont"></span>
				</button>

				<a href="index.html">
					<img ng-src="{{brandProperties.logoImgSrc}}" class="logo">
				</a>
			</div>

			<div class="menu pull-left" ng-class="(menu.state)?'active':'inactive'">
				<div class="">
					<ul class="list-group inline-list" ng-click="menu.hide();">
						<li class="list-group-item cursor-pointer" ng-repeat="x in nav.list" ng-class="(x.active)?'active':''"><a ng-href="index.html#{{x.hrefId}}"><img ng-src="{{x.imgSrc}}"><label ng-bind="x.label"></label></a></li>
					</ul>
				</div>

			</div>



			<div class="nav-item pull-right">
				<img ng-src="{{brandProperties.logo2ImgSrc}}" class="logo">
				<a href="login.html" title="Log Out">
					<img src="img/logout.png" class="icon">
				</a>
			</div>
		</div>


		


	</nav>

		
	
	<div id="articles" class="section firstPad" ng-controller="Articles">
		<div class="greyBg overlapped-head">
			<div class="container-nexus self-clear">
				<h2 class="col-sm-8 yellowFont padding-v-15 section-title-text serif pull-left"><small class="darkGreyFont">The Blurred Lines Of </small>Channel Engagement <small class="caption sans-serif text-uppercase berthold">12 April 2017</small></h2>
				<ul class="social-icons col-sm-4 inline-list self-clear pull-right">
					<li class="social-icons"><img src="img/facebook.png"></li>
					<li class="social-icons"><img src="img/twitter.png"></li>
					<li class="social-icons"><img src="img/google+.png"></li>
					<li class="social-icons"><img src="img/linkedin.png"></li>
				</ul>
			</div>
		</div>

		<div class="container-nexus overlapper self-clear">
			
			<div class="col-sm-8">
			
			
				<img src="img/articles/article4.jpg" class="artile-image">
				<p>When their team needs to meet an ambitious sales goal, managers often turn to incentive programs as a proven method of motivating employees to perform at higher levels. And while it can be intuitive to believe the risk-loving nature of salespeople would lead to both high goal selection and high goal achievement, research is proving otherwise. Download our article to explore the findings of this research, including how applying behavioral science to an incentive program design can give reps the nudge they need to higher performance. In the article you will learn the key components of an effective sales incentive program.
				
					<br><br>
					
				We’ll let you in on a trade secret: cash really isn’t the most powerful motivator. Research — and our extensive field experience — proves that people work harder to earn an experience than they do for cash. It’s about earning the right to indulge, unwind and restore. It’s about treating their families to something out of the ordinary.
				
				<br><br>
				
				
				Our team designs, manages and measures exceptional individual travel programs. We hear every day how our incentive trips are disruptive in the most positive way: they change the game by motivating and inspiring those who take them and those who aspire to take them. Our clients aren’t the only ones who have taken notice. We received the prestigious Crystal Award from the Society for Incentive Travel Excellence (SITE).
				
				<br><br>
				
				Why does incentive travel matter? Think of it this way: Which would be more impactful on your life: cash that would probably end up filling your gas tank? Or zip lining over the rainforest? What about biking the Golden Gate Bridge with your family or hitting the track at the Indy 500? The advantage to both individual and DIY travel incentives is that you decide which type of trip you want to take and when you want to take it. Then you can either work with our travel consultants or do it yourself to fit exactly what you need. 
				
				</p>
				
			</div>
			<div class="col-sm-4 greyBg articles-showcase">
				
				
				
				
				<ul class="tab inline-list self-clear" ng-init="activeArticles = articles.recent">
					<li class="cursor-pointer" ng-click="activeArticles = articles.recent" ng-class="(activeArticles == articles.recent)?'active':'inactive'">RECENT</li>
					<li class="cursor-pointer" ng-click="activeArticles = articles.popular" ng-class="(activeArticles == articles.popular)?'active':'inactive'">POPULAR</li>
				</ul>
				
				<div class="article-list self-clear" ng-repeat="x in activeArticles">
					<a ng-href="{{x.href}}">
					<img ng-src="{{x.imgSrc}}" class="col-sm-3 col-xs-12">
					
					<div class="col-sm-9 col-xs-12 text-sec">
						<p class="title" ng-bind="x.title"></p>
						<p class="date" ng-bind="x.date | date">
					</div>
					</a>
				</div>
			
			
			</div>
		
		</div>
	</div>


	<footer>
		<div class="container-nexus self-clear">
			<ul class="pull-left inline-list has-divider">
				<li>
					<a href="#">Access Advice</a>
				</li>
				<li>
					<a href="#">Cookies</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of Use</a>
				</li>
			</ul>
			
			<div class="pull-right">
				<img src="img/powered_by.png">
			</div>
		</div>
	</footer>


</div>






<script src="js/site_config.js"></script>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>