<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">


	<script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Michelin",
				logoImgSrc : "img/logo.png",
				logo2ImgSrc : "img/Bandhan_Logo.png",
			},

			pageNav : {
				items : [
					{
						imgSrc : "img/my-account1.png",
						label : "My Account",
						hrefId : "myAccount",
						active : true,
					},
					{
						imgSrc : "img/dashboard1.png",
						label : "Dashboards",
						hrefId : "dashboards",
					},
					{
						imgSrc : "img/promotions1.png",
						label : "Promotions",
						hrefId : "promotions",
					},
					{
						imgSrc : "img/rewards-gallery1.png",
						label : "Rewards Gallery",
						hrefId	: "rewards",
					},
					{
						imgSrc : "img/about-program.png",
						label : "About the Program",
						hrefId : "aboutProgram"
					},
					{
						imgSrc : "img/article.png",
						label : "Articles",
						hrefId : "articles",
						
					},
					
				]
			},

			earnHistory : {
				xAxis : ["DATE OF SALE","SELLING USER","PRODUCT GROUP","QUANTITY","ORDER NUMBER","CLAIM DATE","AWARD"],
				yAxis : [
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},


				]
			},
		};


	</script>


</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'" ng-cloak>

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

<div class="wrapper">

	<!-- <nav class="page-nav self-clear" ng-navscroll> -->
	<nav class="page-nav self-clear fixed">

		<div class="container-nexus nav-static self-clear">
			<div class="nav-item pull-left">
				
				<button class="menuTrigger transparentBtn hidden-md-up" ng-class="(menu.state)?'active':'inactive'" ng-click="menu.toggle();">
					<span class="glyphicon glyphicon-menu-hamburger yellowFont"></span>
				</button>

				<a href="index.html">
					<img ng-src="{{brandProperties.logoImgSrc}}" class="logo">
				</a>
			</div>

			<div class="menu pull-left" ng-class="(menu.state)?'active':'inactive'">
				<div class="">
					<ul class="list-group inline-list" ng-click="menu.hide();">
						<li class="list-group-item cursor-pointer" ng-repeat="x in nav.list" ng-class="(x.active)?'active':''"><a ng-href="index.html#{{x.hrefId}}"><img ng-src="{{x.imgSrc}}"><label ng-bind="x.label"></label></a></li>
					</ul>
				</div>

			</div>



			<div class="nav-item pull-right">
				<img ng-src="{{brandProperties.logo2ImgSrc}}" class="logo">
				<a href="login.html" title="Log Out">
					<img src="img/logout.png" class="icon">
				</a>
			</div>
		</div>


		


	</nav>

		
	
	<div id="earnhistory" class="section firstPad" ng-controller="EarnHistory">
		<div class="greyBg overlapped-head">
			<div class="container-nexus">
				<div class="self-clear">
					<h2 class=" pull-left yellowFont padding-v-15 section-title-text serif"><small class="darkGreyFont">My</small>Account <small class="caption sans-serif text-uppercase berthold">earn history</small></h2>
					<a class="pull-right link-style1 viewHistoryBtn no-hover-decoration" href="index.html#myaccount" >
						<!-- <span class="underline darkGreyFont">VIEW COMPLETE EARN HISTORY</span> -->
						<span class="underline darkGreyFont text-uppercase">View Your Account Summary</span>
						<span class="yellowFont special-chars">&rsaquo;&rsaquo;</span>
					</a>
				</div>
			</div>
		</div>

		<div class="container-nexus overlapper self-clear">
			
			
			<form>
				<div class="filter self-clear greyBg">

					<div class="col-md-6 col-sm-12 group">

						<label class="col-sm-2 col-xs-12">Sale</label>
						<input class="col-sm-5 col-xs-6 no-border serif text-italic" type="text" placeholder="From">
						<input class="col-sm-5 col-xs-6 no-border serif text-italic" type="text" placeholder="To">
					</div>
					<div class="col-md-6 col-sm-12 group">
						<label class="col-sm-2 col-xs-12">Claim</label>
						<input class="col-sm-5 col-xs-6 no-border serif text-italic" type="text" placeholder="From">
						<input class="col-sm-5 col-xs-6 no-border serif text-italic" type="text" placeholder="To">
					</div>

				</div>

				<div class="search-box self-clear whiteBg">
					<div class="col-sm-10">
						<input type="text" class="no-border serif text-italic" placeholder="Search by value(s)">
					</div>
					<div class="col-sm-2 self-clear">
						<button class="nuxusBtn1 pull-right darkGreyFont ">Search</button>
					</div>
				</div>
			</form>
			
			<div class="row marg-top-double">
			<div class="col-sm-9 ng-binding darkGreyFont">
				<span translate="ViewMyAwards.TotalNumberOfRecords " class="ng-scope ">Total number of records found:</span> 50
			</div>
					<div class="col-sm-3 ng-isolate-scope" pagination-details="paginationDetails" on-change="onItemsPerPageChanged()">
				<div class="pull-right">
					<select class="form-control ng-pristine ng-valid ng-touched" name="options" id="options" ng-model="paginationDetails.itemsPerPage" ng-change="onChange()">
						<!--<option ng-repeat="option in options" value="{{option}}"> {{option}}</option>-->
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
				<label for="options" class="pull-right pad-eight ng-binding darkGreyFont">Items per page</label>
			</div>
		</div>

			<div class="table-responsive">
				<table id="leaderboard" class="table table-striped">
					<thead class="yellowPaleBg bottomYellowBorder darkGreyFont">
						<tr>
							<td ng-repeat="x in earnHistory.data.xAxis track by $index" ng-bind="x" class="text-center"></td>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="x in earnHistory.data.yAxis" ng-class="x.class">

							<td ng-repeat="y in x.values track by $index" ng-bind="y" class="text-center"></td>

						</tr>

					</tbody>
				</table>
			</div>
		
		</div>
	</div>


	<footer>
		<div class="container-nexus self-clear">
			<ul class="pull-left inline-list has-divider">
				<li>
					<a href="#">Access Advice</a>
				</li>
				<li>
					<a href="#">Cookies</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of Use</a>
				</li>
			</ul>
			
			<div class="pull-right">
				<img src="img/powered_by.png">
			</div>
		</div>
	</footer>


</div>






	<script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	 <script src="libs/parallaxjs/parallax.min.js"></script> 
	<script src="libs/skrollr.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>