<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">


	<script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Michelin",
				logoImgSrc : "img/logo.png",
				logo2ImgSrc : "img/Bandhan_Logo.png",
			},

			pageNav : {
				items : [
					{
						imgSrc : "img/my-account1.png",
						label : "My Account",
						hrefId : "myAccount",
						active : true,
					},
					{
						imgSrc : "img/dashboard1.png",
						label : "Dashboards",
						hrefId : "dashboards",
					},
					{
						imgSrc : "img/promotions1.png",
						label : "Promotions",
						hrefId : "promotions",
					},
					{
						imgSrc : "img/rewards-gallery1.png",
						label : "Rewards Gallery",
						hrefId	: "rewards",
					},
					{
						imgSrc : "img/about-program.png",
						label : "About the Program",
						hrefId : "aboutProgram"
					},
					{
						imgSrc : "img/article.png",
						label : "Articles",
						hrefId : "articles",
						
					},
					
				]
			},

					
		};


	</script>


</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

<div class="wrapper">

	<!-- <nav class="page-nav self-clear" ng-navscroll> -->
	<nav class="page-nav self-clear fixed">

		<div class="container-nexus nav-static self-clear">
			<div class="nav-item pull-left">
				
				<button class="menuTrigger transparentBtn hidden-md-up" ng-class="(menu.state)?'active':'inactive'" ng-click="menu.toggle();">
					<span class="glyphicon glyphicon-menu-hamburger yellowFont"></span>
				</button>

				<a href="index.html">
					<img ng-src="{{brandProperties.logoImgSrc}}" class="logo">
				</a>
			</div>

			<div class="menu pull-left" ng-class="(menu.state)?'active':'inactive'">
				<div class="">
					<ul class="list-group inline-list" ng-click="menu.hide();">
						<li class="list-group-item cursor-pointer" ng-repeat="x in nav.list" ng-class="(x.active)?'active':''"><a ng-href="index.html#{{x.hrefId}}"><img ng-src="{{x.imgSrc}}"><label ng-bind="x.label"></label></a></li>
					</ul>
				</div>

			</div>



			<div class="nav-item pull-right">
				<img ng-src="{{brandProperties.logo2ImgSrc}}" class="logo">
				<a href="login.html" title="Log Out">
					<img src="img/logout.png" class="icon">
				</a>
			</div>
		</div>
	</nav>

		
	
	<div id="editProfile" class="section firstPad editProfile" ng-controller="Articles">
		<div class="greyBg overlapped-head">
			<div class="container-nexus">
				<div class="self-clear">
					<h2 class=" pull-left yellowFont padding-v-15 section-title-text serif"><small class="darkGreyFont">My</small>Account <small class="caption sans-serif text-uppercase berthold">Edit profile</small></h2>
					<button class="nuxusBtn1 pull-right darkGreyFont" ng-init="showSavecta = true" ng-show="showSavecta" ng-click="showDone = true; showSavecta = false;">Save edits</button>
					
					<a href="index.html#myaccount">
					<button class="nuxusBtn1 pull-right darkGreyFont" ng-init="showDone = false" ng-show="showDone">I'm Done</button></a>
				</div>
			</div>	
		</div>

		<div class="container-nexus overlapper">
			
			<div class="self-clear form-wrapper">

				<div class="col-md-4 group greyBg">

					<div class="form-group">
						<label class="col-sm-4">&nbsp;</label>
						<div class="profile-pic inline-block position-relative">
							<img src="img/12.png">
							<img src="img/camera-icon.png" class="cameraIcon" onclick="priflePic.click();">
						</div>
						<input type="file" id="priflePic" style="display:none">
					</div>
					

					<div class="form-group self-clear"><label class="col-md-4 col-sm-2 col-xs-12 text-uppercase darkGreyFont">Member Id</label> <label class="col-md-8 col-sm-10 col-xs-12">12324 </label></div>
					<div class="form-group self-clear"><label class="col-md-4 col-sm-2 col-xs-12 text-uppercase darkGreyFont">First Name</label> <input class="col-md-8 col-sm-10 col-xs-12 no-border" type="text"></div>
					<div class="form-group self-clear"><label class="col-md-4 col-sm-2 col-xs-12 text-uppercase darkGreyFont">Last Name</label> <input class="col-md-8 col-sm-10 col-xs-12 no-border" type="text"></div>
					<div class="form-group self-clear"><label class="col-md-4 col-sm-2 col-xs-12 text-uppercase darkGreyFont">Email</label> <input class="col-md-8 col-sm-10 col-xs-12 no-border" type="text"></div>
					<div class="form-group self-clear"><label class="col-md-4 col-sm-2 col-xs-12 text-uppercase darkGreyFont">Phone</label> <input class="col-md-8 col-sm-10 col-xs-12 no-border" type="text"></div>
					
				</div>


				<div class="col-md-8 group greyBg address">
					<div class="form-group self-clear"><label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Address</label> <input class="col-sm-10 col-xs-12 no-border" type="text"></div>
					<div class="form-group self-clear"><label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">&nbsp;</label> <input class="col-sm-10 col-xs-12 no-border" type="text"></div>
					<div class="form-group self-clear"><label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Street</label> <input class="col-sm-10 col-xs-12 no-border" type="text"></div>
					<div class="form-group self-clear"><label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Landmark</label> <input class="col-sm-10 col-xs-12 no-border" type="text"></div>
					<div class="form-group self-clear">
						<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">City</label>
						<input class="col-sm-4 col-xs-12 no-border" type="text">

						<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">State</label>
						<input class="col-sm-4 col-xs-12 no-border" type="text">

					</div>
					<div class="form-group self-clear">
						<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Country</label>
						<input class="col-sm-4 col-xs-12 no-border" type="text">

						<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Pincode</label>
						<input class="col-sm-4 col-xs-12 no-border" type="text">
					</div>
				</div>

				<div class="col-md-12 group greyBg border-input security">
					<div class="form-group self-clear">
						<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Update Password</label>
						<input class="col-sm-5 col-xs-12 no-border" type="password" placeholder="Old Password">
						<input class="col-sm-5 col-xs-12 no-border" type="password" placeholder="New Password">
					</div>
					<div class="form-group self-clear">
						<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Security Question</label>
						<select class="col-sm-5 col-xs-12 no-border"></select>
						<input class="col-sm-5 col-xs-12 no-border" type="text" placeholder="Answer">
					</div>

				</div>

			</div>

		</div>
	</div>


	<footer>
		<div class="container-nexus self-clear">
			<ul class="pull-left inline-list has-divider">
				<li>
					<a href="#">Access Advice</a>
				</li>
				<li>
					<a href="#">Cookies</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of Use</a>
				</li>
			</ul>
			
			<div class="pull-right">
				<img src="img/powered_by.png">
			</div>
		</div>
	</footer>


</div>






<script src="js/site_config.js"></script>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>