<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">


	<script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Michelin",
				logoImgSrc : "img/logo.png",
				logo2ImgSrc : "img/Bandhan_Logo.png",
			},

			pageNav : {
				items : [
					{
						imgSrc : "img/my-account1.png",
						label : "My Account",
						hrefId : "myAccount",
						active : true,
					},
					{
						imgSrc : "img/dashboard1.png",
						label : "Dashboards",
						hrefId : "dashboards",
					},
					{
						imgSrc : "img/promotions1.png",
						label : "Promotions",
						hrefId : "promotions",
					},
					{
						imgSrc : "img/rewards-gallery1.png",
						label : "Rewards Gallery",
						hrefId	: "rewards",
					},
					{
						imgSrc : "img/about-program.png",
						label : "About the Program",
						hrefId : "aboutProgram"
					},
					{
						imgSrc : "img/article.png",
						label : "Articles",
						hrefId : "articles",
						
					},
					
				]
			},

					
		};


	</script>


</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

<div class="wrapper">

	<!-- <nav class="page-nav self-clear" ng-navscroll> -->
	<nav class="page-nav self-clear fixed">

		<div class="container-nexus nav-static self-clear">
			<div class="nav-item pull-left">
				
				<button class="menuTrigger transparentBtn hidden-md-up" ng-class="(menu.state)?'active':'inactive'" ng-click="menu.toggle();">
					<span class="glyphicon glyphicon-menu-hamburger yellowFont"></span>
				</button>

				<a href="index.html">
					<img ng-src="{{brandProperties.logoImgSrc}}" class="logo">
				</a>
			</div>

			<div class="menu pull-left" ng-class="(menu.state)?'active':'inactive'">
				<div class="">
					<ul class="list-group inline-list" ng-click="menu.hide();">
						<li class="list-group-item cursor-pointer" ng-repeat="x in nav.list" ng-class="(x.active)?'active':''"><a ng-href="index.html#{{x.hrefId}}"><img ng-src="{{x.imgSrc}}"><label ng-bind="x.label"></label></a></li>
					</ul>
				</div>

			</div>



			<div class="nav-item pull-right">
				<img ng-src="{{brandProperties.logo2ImgSrc}}" class="logo">
				<a href="login.html" title="Log Out">
					<img src="img/logout.png" class="icon">
				</a>
			</div>
		</div>
	</nav>

		
	
	<div id="myaccountmenu" class="section firstPad editProfile" ng-controller="Articles">
		<div class="greyBg overlapped-head">
			<div class="container-nexus">
				<div class="self-clear">
					<h2 class=" pull-left yellowFont padding-v-15 section-title-text serif"><small class="darkGreyFont">My</small>Account <small class="caption sans-serif text-uppercase berthold">Other details</small></h2>
					
					<a href="index.html#myaccount">
					<button class="nuxusBtn1 pull-right darkGreyFont">I'm Done</button></a>
				</div>
			</div>	
		</div>

		<div class="container-nexus overlapper self-clear">
			
			<div class="col-sm-6 text-center whiteBg thumb-menu"><a href="earnhistory.html">EARN HISTORY</a></div>
			<div class="col-sm-6 text-center yellowBg thumb-menu"><a href="accountstatement.html">ACCOUNT STATEMENT</a></div>
			<div class="col-sm-6 text-center thumb-menu"><a href=""></a></div>

		</div>
	</div>


	<footer>
		<div class="container-nexus self-clear">
			<ul class="pull-left inline-list has-divider">
				<li>
					<a href="#">Access Advice</a>
				</li>
				<li>
					<a href="#">Cookies</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of Use</a>
				</li>
			</ul>
			
			<div class="pull-right">
				<img src="img/powered_by.png">
			</div>
		</div>
	</footer>


</div>






<script src="js/site_config.js"></script>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>