<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">


	<script>

		var dynamicData = {

			userInfo : {
				firstName : "Ashish",
				secondName : "Kumar",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Michelin",
				logoImgSrc : "img/logo.png",
				logo2ImgSrc : "img/Bandhan_Logo.png",
			},

			pageNav : {
				items : [
					{
						imgSrc : "img/my-account1.png",
						label : "My Account",
						hrefId : "myAccount",
					},
					{
						imgSrc : "img/dashboard1.png",
						label : "Dashboards",
						hrefId : "dashboards",
					},
					{
						imgSrc : "img/promotions1.png",
						label : "Promotions",
						hrefId : "promotions",
						//active : true,
					},
					{
						imgSrc : "img/rewards-gallery1.png",
						label : "Rewards Gallery",
						hrefId	: "rewards",
					},
					{
						imgSrc : "img/about-program.png",
						label : "About the Program",
						hrefId : "aboutProgram"
					},
					{
						imgSrc : "img/article.png",
						label : "Articles",
						hrefId : "articles",
						
					},
					
				]
			},

			upcomingPromotions : {
				
				items : [
					{
						title : "Early Sparrow",
						href : "promotions.html#promo1",
						active : true,
					},
					{
						title : "Consistency Rewards",
						href : "promotions.html#promo2",
					},
					{
						title : "Summer Fiesta",
						href : "promotions.html#promo3",
					},

				],
				
				activePromo : {
					"imgSrc" : "img/promo/Promo_V.1.0.jpg",
					title : "Promotion 1",
					textContent : "<h3>Introducing Early<br>Sparrow...</h3><p>Reach your commercial targets before the 25<sup>th</sup> of every month!</p>",
					href : "promotions.html#promo1",
				}
			
			}
			
		};


	</script>


</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

<div class="wrapper">

	<!-- <nav class="page-nav self-clear" ng-navscroll> -->
	<nav class="page-nav self-clear fixed">

		<div class="container-nexus nav-static self-clear">
			<div class="nav-item pull-left">
				
				<button class="menuTrigger transparentBtn hidden-md-up" ng-class="(menu.state)?'active':'inactive'" ng-click="menu.toggle();">
					<span class="glyphicon glyphicon-menu-hamburger yellowFont"></span>
				</button>

				<a href="index.html">
					<img ng-src="{{brandProperties.logoImgSrc}}" class="logo">
				</a>
			</div>

			<div class="menu pull-left" ng-class="(menu.state)?'active':'inactive'">
				<div class="">
					<ul class="list-group inline-list" ng-click="menu.hide();">
						<li class="list-group-item cursor-pointer" ng-repeat="x in $root.nav.list" ng-class="(x.active)?'active':''"><a ng-href="index.html#{{x.hrefId}}"><img ng-src="{{x.imgSrc}}"><label ng-bind="x.label"></label></a></li>
					</ul>
				</div>

			</div>



			<div class="nav-item pull-right">
				<img ng-src="{{brandProperties.logo2ImgSrc}}" class="logo">
				<a href="login.html" title="Log Out">
					<img src="img/logout.png" class="icon">
				</a>
			</div>
		</div>



	</nav>

		
	
	<div id="promotions" class="section firstPad promotions" ng-controller="UpcommingPromotions">
		<div class="greyBg overlapped-head">
			<div class="container-nexus">
				<ul class="inline-list promotion-list">
					<li class="cursor-pointer darkGreyFont" ng-repeat="x in upcomingPromotions.items" ng-class="(x.active)?'active serif text-propercase':'text-uppercase'"><a ng-href="{{x.href}}" ng-bind="x.title"></a></li>
				</ul>
			</div>
		</div>

		<div class="overlapper self-clear" ng-init="activePrmo = upcomingPromotions.activePromo">
			<div class="promo-bg" ng-attr-style="background-image: url('{{activePrmo.imgSrc}}')">
				<div class="container-nexus relative-100Height">
					<div class="text-content relative-100Height"><div class="container-nexus self-clear relative-100Height"><div class="textbox greyBg greyFont absolute-100Hegiht"><table class="relative-100Height"><tbody><tr><td class="padding-15 darkGreyFont align-bottom text-center" ng-custombind="activePrmo.textContent"></td></tr></tbody></table></div></div></div>
										
				</div>
			</div>
			
			
			<div class="container-nexus promotion-details darkGreyFont">
				
				<h3>Summer Fiesta</h3>
				<h4>May 1st – May 31st 2014</h4>
				<p>Earn Upto 4x Points!</p>
				
				<br><br>
				<p>Attention Dealers! The Michelin Summer Fiesta promotion gives dealers like you who sell Michelin 2W & PC tyres in India, a chance to win 4 times the reward points. 
				
				<br><br>
				To <b>win 4x base points</b> (on purchase of 2-wheeler non-radial tyres only), all you need to do is,
				
				<br><br>
				Meet your commercial target of 2-wheeler & 4-wheeler tyre for May 2014.
				
				<br><br>
				There’s more!
				Earn an additional 50 bonus points on each purchase of 2-wheeler radial tyre, irrespective of your commercial target achievement.To make the best of this promotion, purchase products right away at www.michelinswagat.com. </p>
				
				<br>
				<h5>Note:<h5>
				<ul>
					<li>Promotion Period: 1st May 2014 – 31st May 2014</li>
					<li>Promotion point earnings applicable on purchase of 2-wheeler tyres only</li>
					<li>Meeting 2-wheeler and 4-wheeler commercial target is mandatory to earn promotion points</li>
					<li>4x promotion is not applicable on purchase of radial tyres</li>
				</ul>
				
				<br><br>
				<h5>Eligible products:</h5>
				<div class="table-responsive">
				<table class="table table-bordered" style="max-width: 500px;">
					<tr>
						<td>269189</td>
						<td>130/70R17 62H P.STREET RAD R TL/TT</td>

					</tr>
					<tr>
						<td>401784</td>
						<td>110/70R17 54H P.STREET RAD R TL/TT</td>
					</tr>
					<tr>
						<td>566085</td>
						<td>140/70R17 66H P.STREET RAD R TL/TT</td>
					</tr>
					<tr>
						<td>405043</td>
						<td>120/70 ZR17M/C (58W) PIL. ROAD2 F TL</td>
					</tr>
					<tr>
						<td>816300</td>
						<td>180/55 ZR17M/C (73W) PIL. ROAD2 F TL</td>
					</tr>
					<tr>
						<td>871087</td>
						<td>190/50 ZR17M/C (73W) PIL. ROAD2 F TL</td>
					</tr>
					
				</table>
				</div>
	 
	<br>
			<p class="text-center">Have any questions? Get in touch with us at <a href="mailto:Bandhan@michelinloyalty.in">Bandhan@michelinloyalty.in.</p>
			
			
			<h3 class="text-center">Happy Selling!</h3>



				
			</div>
			
		</div>
	</div>


	<footer>
		<div class="container-nexus self-clear">
			<ul class="pull-left inline-list has-divider">
				<li>
					<a href="#">Access Advice</a>
				</li>
				<li>
					<a href="#">Cookies</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of Use</a>
				</li>
			</ul>
			
			<div class="pull-right">
				<img src="img/powered_by.png">
			</div>
		</div>
	</footer>


</div>






<script src="js/site_config.js"></script>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>