<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			


			articles : [
					{
						imgSrc : "img/articles/article1.jpg",
						title : "Recent The Blurred Line of Channel Engagement",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article2.jpg",
						title : "Recent Ideas That Inspire Us To Engage Your World",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article3.jpg",
						title : "Recent Nudge Your Sales Reps to Higher Performance",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article4.jpg",
						title : "Recent The Best Way To Get Started Is To Get In Touch",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article5.jpg",
						title : "Recent 9 Sales Rewards Trends for 2017",
						date : "04/12/2017",
						href : "#"
					},
				],
				
			
			
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav"> 
    <!-- <nav class="side-nav"> -->

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu" ng-controller="AboutPrograms">

        <div id="about" class="section firstPad" data-section="about">

            <div class="container-nexus self-clear">
                
                <ng-innernav activename="How To Earn Points" items="routes"></ng-innernav>

                <h1 class="blueVoiletFont text-center about-title">How to Earn Points</h1>

                <hr>
                    <p class="text-center">As a Splash member, you have many opportunities to earn points. The points you earn will depend on your sales volume and tier.  </p>
				<hr>
				
				<h5 class="blueVoiletFont text-uppercase text-bold">Tier Classification </h5>
				<p>All participants will be classified into the 7 tiers below based on their average monthly sales volume: </p>

				<br>

                <h5 class="blueVoiletFont text-uppercase text-bold">Types of Points</h5>
                			   
				<h5 class="blueVoiletFont">Base Points </h5>
				<p>These points are instantly credited to your account on sales of Painthouse products. </p>
				
				<h5 class="blueVoiletFont">Tier Bonus </h5>
				<p>This is a monthly bonus that is awarded to you, if your overall monthly sales are higher than the lower tier limit of your tier. Splash lets you earn higher points on sales as you move up the tiers.  </p>
                 
                <h5 class="blueVoiletFont">Product-mix Bonus</h5>
				<p>Encourage customers to purchase our premiere paint products to win special product-mix bonus. Product-mix bonus is credited in addition to the base points for your tier. </p>
				
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Premium Product LIne</th>
								<th>Product Quantity <span class="font-normal">(units in decalitre)</span></th>
								<th>Points</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>WeatherProof</td>
								<td>4</td>
								<td>10</td>
							</tr>
							<tr>
								<td>Vibrant Varnish</td>
								<td>4</td>
								<td>20</td>
							</tr>
							<tr>
								<td>Lively Walls</td>
								<td>4</td>
								<td>25</td>
							</tr>
							<tr>
								<td>Homehues</td>
								<td>4</td>
								<td>30</td>
							</tr>
						</tbody>
					</table>
				</div>
                
                
                <h5 class="blueVoiletFont">Target Achievement Bonus</h5>
                <p>Complete your quarterly target i.e the sum of the upper sales volume for your tier for 3 months, at the end of the quarter, to unlock the target achievement bonus.</p>
                
               <h5 class="blueVoiletFont"> Enrolment Bonus</h5>        
                <p>Earn enrolment bonus points on referring new customers to the Splash program. To refer a customer, simply enter the coupon code on the Painthouse product at the time of purchase on your Splash app.</p>

                                

            </div>
        </div>
	
     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>