<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			


			articles : [
					{
						imgSrc : "img/articles/article1.jpg",
						title : "Recent The Blurred Line of Channel Engagement",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article2.jpg",
						title : "Recent Ideas That Inspire Us To Engage Your World",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article3.jpg",
						title : "Recent Nudge Your Sales Reps to Higher Performance",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article4.jpg",
						title : "Recent The Best Way To Get Started Is To Get In Touch",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article5.jpg",
						title : "Recent 9 Sales Rewards Trends for 2017",
						date : "04/12/2017",
						href : "#"
					},
				],
				
			
			
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav"> 
    <!-- <nav class="side-nav"> -->

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu" ng-controller="AboutPrograms">

        <div id="about" class="section firstPad" data-section="about">

            <div class="container-nexus self-clear">
                
                <ng-innernav activename="How To Redeem Points" items="routes"></ng-innernav>

                <h1 class="blueVoiletFont text-center about-title">How To Redeem Points</h1>

				<hr>
                    <p class="text-center">Redeem your points for a wide range of exciting rewards on Splash! </p>
                <hr>
                			
                <p>
                Step 1: Login to your account on "Splash" portal <br>
				Step 2: Click on "Rewards" and browse through rewards categories <br>
				Step 3: Choose any item from the reward catalogue on the basis of points available in your account <br>
				Step 4: Check out the rewards to complete the redemption process <br>
				Step 5: All redeemed items will be dispatched to you within 21 working days 
                </p>


            </div>
        </div>


     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>