<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			


			articles : [
					{
						imgSrc : "img/articles/article1.jpg",
						title : "Recent The Blurred Line of Channel Engagement",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article2.jpg",
						title : "Recent Ideas That Inspire Us To Engage Your World",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article3.jpg",
						title : "Recent Nudge Your Sales Reps to Higher Performance",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article4.jpg",
						title : "Recent The Best Way To Get Started Is To Get In Touch",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article5.jpg",
						title : "Recent 9 Sales Rewards Trends for 2017",
						date : "04/12/2017",
						href : "#"
					},
				],
				
			
			
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav">
    <!-- <nav class="side-nav"> -->

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

        <div id="articles" class="section firstPad" ng-controller="Articles" data-section="Articles">
            <div class="">
                <div class="container-nexus self-clear">

                    <ul class="social-icons col-sm-4 inline-list self-clear pull-left">
                        <li class="social-icons">
                            <a href="#"><img src="img/facebook.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/twitter.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/google+.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/linkedin.png"></a></li>
                    </ul>

                </div>
            </div>

            <div class="container-nexus self-clear">
                
                <div class="col-sm-8">
                    
                    
                
					<img src="img/articles/article2.jpg" class="artile-image">
					
					<h2 class="article-heading">Dealer 101: How to Read Your Customers</h2>
					<p class="pinkRedFont">18/07/2017</p>
                    <br>
                    <p>
                    Are you a retailer (or retail sales associate) who’s struggling with how to approach shoppers? Worried that you lack the magic touch, or that you’ll come off as an annoying salesperson? Would you rather be awkwardly staring at your store’s point of sale software screen than actually talking to the customer in front of you? 
                    <br><br>
                    You should keep reading because, after years of being one of the strongest sellers at my store, I can assure you: anyone can sell. 
                    That’s not to say it’s not going to take a lot of practice. But over the years, I’ve found that a customer will tell you verbally and/or physically how to sell to them. If you’re listening properly and looking for the right cues, you can always tell if a customer is interested in what you have to say, what approach to take with them, and what exactly they’re looking for. 
                    Check out the tips below, put them into action, and you should find yourself successfully closing sales: 
                    <br><br>
                    1.Eye Contact <br>
                    Where a person’s eyes are looking is one of the easiest ways to tell what they’re focusing on. If the customer is looking at you, or the products you’re working with, that’s a good sign. It means they’re engaged with you and are interested in what you have to say and sell. 
                    If they’re looking around, at someone else, out the door… anywhere that’s not where you are – that’s not a great sign. Usually if this is the case you should say something like, “Let me know if you need anything else,” and let them do their own thing. No eye contact doesn’t mean you won’t be able to close the sale – but it could spell trouble if you don’t pay attention. 
                   <br><br>
                    2. Hands/Arms <br>
                    Another important thing to pay attention to is what people do with their hands and arms. Typically, if someone’s arms are crossed, they are uncomfortable and probably not interested in what you have to say. You should tread gently: let this customer know you are there to help. If you’re talking with a customer who is clearly shy and uncomfortable with talking to you, I recommend acting in a more reserved manner and avoiding things like answering questions the customer has yet to ask. In addition, because this posture reflects a closed off mind, I mostly suggest avoiding suggestive selling. Suggestive selling does not work well on someone who is not interested. 
                    Open arms and palms facing towards you, however, are an excellent sign. If your customer has taken this sort of posture in your conversation, you’re doing well. In fact, I would definitely suggest going for it with suggestive selling. (Of course, make sure you’re showing them items that are actually related to what they want, not just some pre-placed item that your manager wants to get rid of.) 
                    <br><br>
                    3. Facial Expression—Particularly the Curve of Their Mouth <br>
                    Lastly, you should be paying attention to the expressions you customer is making. This seems like a no-brainer, but it’s important to pay close attention to your customer’s facial expressions. Even if a customer is pulling a straight face at you, most people’s mouths are fairly expressive in small ways. <br>
                    Often, the corners of the mouth will be curving slightly up or slightly down. Down is not good for you – it indicates frustration or annoyance. Curving up, though, is an excellent sign. Additionally, you should pay attention to how tightly the lips are held. If they’re pressed tightly together, it can mean the same thing as crossed arms. 
                    That’s the three major areas of body language you should be paying attention to while actively listening to your customer. Keep in mind that while the customer’s body can give you an indication about how they feel towards you and your product, it’s the listening that is going to yield you the important information about what they want. 
                    </p>
                    
                </div>


                <div class="col-sm-4 articles-showcase">
                    
                    
                    <p class="pinkRedFont text-center">LATEST STORIES</p>

                    <div class="hr-triangle">
                        <div class="triangle"></div>
                    </div>
                    
                    
                    <div class="row">
                    
                        <div class="article-list self-clear col-sm-6" ng-repeat="x in articles">
                            <a ng-href="{{x.href}}">
                            <img ng-src="{{x.imgSrc}}" class="article-thumb">
                            
                            <div class="text-sec">
                                <p class="title" ng-custombind="x.title"></p>
                                <p class="date" ng-bind="x.date | date">
                            </div>
                            </a>
                        </div>
                    </div>
                
                
                </div>
            
            </div>
        </div>


     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>