<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			


			articles : [
					{
						imgSrc : "img/articles/article1.jpg",
						title : "Recent The Blurred Line of Channel Engagement",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article2.jpg",
						title : "Recent Ideas That Inspire Us To Engage Your World",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article3.jpg",
						title : "Recent Nudge Your Sales Reps to Higher Performance",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article4.jpg",
						title : "Recent The Best Way To Get Started Is To Get In Touch",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article5.jpg",
						title : "Recent 9 Sales Rewards Trends for 2017",
						date : "04/12/2017",
						href : "#"
					},
				],
				
			
			
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav">
    <!-- <nav class="side-nav"> -->

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

        <div id="articles" class="section firstPad" ng-controller="Articles" data-section="Articles">
            <div class="">
                <div class="container-nexus self-clear">

                    <ul class="social-icons col-sm-4 inline-list self-clear pull-left">
                        <li class="social-icons">
                            <a href="#"><img src="img/facebook.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/twitter.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/google+.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/linkedin.png"></a></li>
                    </ul>
                    

                    <!-- <div class="input-block pull-right">
                        <input type="text" placeholder="search article...">
                        <span class="input-icon glyphicon glyphicon-search"></span>
                    </div> -->
                </div>
            </div>

            <div class="container-nexus self-clear">
                
                <div class="col-sm-8">
                    
                    
                
					<img src="img/articles/article1.jpg" class="artile-image">
					
					<h2 class="article-heading">Scientifically-backed Tips to Help You Sell More</h2>
					<p class="pinkRedFont">18/07/2017</p>
					<br>
					
					<p>
					As a small business owner with a retail store, you probably spend a lot of resources getting people to walk through your doors. But, what do you do once they're in? </p> 
					<br>
					<p>Chances are, more often than not, you leave it up to chance, luck, or good fortune to determine whether that prospective customer will buy something or not. Or perhaps you've got a way with words, or have hired someone who you can't help but admire when it comes to their ability to make a sale, perhaps calling it an art, or an innate talent they were probably born with. However, instead of leaving your retail sales to chance or talent, you can alternatively rely on a science that you can teach to your staff or apply yourself.  
					In this post, we'll look at four key areas of focus with lots of tips and insights in between that are sure to help you sell more and build greater customer loyalty resulting in a more solid customer base and repeat sales.  
					Let's dive in. </p> 
					<br>
					<p>1. You Don't Get a Second Chance to Make a First Impression 
					How do you get onto the right foot when engaging a customer who just walked in?  
					You might have heard that it takes one-tenth of a second to form a first impression of someone, but let's look at what's actually taking place inside a person's mind when they make that judgement.  
					Social scientist Amy Cuddy explains that when we first form a first impression, we actually form two. Firstly, we're determining how warm and trustworthy the person is, and secondly, we're trying to answer the questions, "what are this person's intentions towards me?" and "how strong and competent is this person?" 
					According to Cuddy, these two dimensions make up 80 to 90 percent of an overall first impression which holds true across cultures.  
					We've all walked into stores and been approached by sales associates who made us feel suspicious, uncomfortable, and on our guard. And we've had the opposite experience of feeling helped, comforted, and relaxed. So, what accounts for the difference.  
					Cuddy has quite a few suggestions which would help you make your customers feel more at ease, some of them are:  
					Let the other person speak first. You can do this by simply asking a question. Our typical thinking is taking charge of the conversation and attempting to be in control, but that doesn't pan out so well when trying to understand your customer's needs and how your business and products fulfills them. 
					Collect information about the other person's interest. Getting the other person to talk about themselves or what we like to call "making small talk" goes a long way. Research proves that just five minutes of "small talk" before a negotiation increases the amount of value created in the negotiation.  
					Next, let's look at study that attempted to increase room service tips for waiters in hotels. Researchers discovered that there was a quick, easy, and simple way to increase their tips. Can you guess what it might be?  
					Starting the interaction with a positive comment. Obvious right? 
					The researchers discovered that as hotel guests opened the door, waiters simply said "good morning" and gave a positive weather forecast. Just a single positive comment increased tips by 27 percent. 
					So, what does this mean for you? Don't start your interaction by talking about how bad the weather, traffic, or your working conditions are. Begin with a positive comment about the weather, weekend plans, or a favorite sports team.  </p>
					<br>
					<p>2. Think Before You Speak 
					One of my all-time favourite quotes has to be the following words by Epictetus, "nature gave us one tongue and two ears so we could hear twice as much as we speak."  <br>
					When it comes to sales, many of us have the tendency to associate a good sales associate as a talkative extrovert that can take charge of a conversation and exudes charisma and charm.  
					Researchers from the University of Pennsylvania's Wharton School wanted to thwart the myth and discovered after carrying out five different studies across 3,806 salespeople, that the correlation between extraversion and sales was essentially nonexistent. 
					In fact, when looked at across the spectrum of introversion or extroversion, it wasn't the extreme cases that fared the best, it was ambiverts, those in the middle, who brought in the most business year over year. Dan Pink does a fantastic job documenting the study in his book, which I highly recommend reading "To Sell is Human."  
					Another key thing to be mindful of is talking down a competitor. It might be hard to keep your mouth closed when a consumer brings up a competing product, but just know, speaking negatively about a competitor's product has the opposite affect from what you intended.  
					Social scientists call this the Spontaneous Trait Transference. What that means is that anytime you say bad things about someone else, people can't help but associate those same traits with you. So when you say a competitor is low-quality or unreliable, your prospective customer is actually linking those with you.  
					Finally, I found a really helpful list of alternatives to the common elements of a conversation in a retail setting from the blog of Retailer Training Services, they are:  
					“I Don't Know” vs. “That's a great question. Let me find out for you.” 
					“All Sales Are Final” vs. “Let us know if you're not satisfied and we'll make it right.” 
					“Calm Down” vs. “I apologize.” 
					“We're Closed” vs. “We close at __ o'clock and reopen at _ o'clock. Is there something I can quickly help you with now?” 
					“Will That Be All?” vs. “Let me show you…” or “Have you tried __?” 
					“It's Over There” vs. “Follow me, I'll show you right where it is.” 
					“I Can't Do That” vs. “I think the best solution is…” 
					“That's Not My Department” vs. “Let’s go find the right person to help you!” 
					“We're Out of That Item” vs. “That item is currently out of stock, we have a great alternative, or I can give you a ring when it is back in stock, OK?” <br>
					“That is Against Our Policy” vs. “Typically our policy is __ but I want to make this right for you. This is what I can do…” 
					“I'm New Here” vs. “Please bear with me and I'll get you the help you need.” 
					“Hold On” vs. “Are you able to hold for a moment?” 
					“I'm Busy Right Now” vs. “I'd be happy to help you.” 
					“You're Wrong” vs. “I think there has been a misunderstanding.” 
					“If You Did Not See One, Then We Must Not Have It” vs. “Let’s see if we can find one for you!” 
					By just paying attention to the words that come out of your mouth, you can drastically increase the chances of someone making a purchase. </p> 
					<br>
					<p>3. Don't Forget About Body Language 
					When you consider the fact that roughly 90 percent of communication is nonverbal, it seems almost crazy how little significance we give to our poor understanding of body language and other nonverbal cues.  
					Especially when your job depends on it in a retail sales environment. So, what do you need to pay attention to increase your chances of making a sale? 
					Here's a few key things that you should be paying attention to: 
					Opening Your Arms 
					Across contexts and cultures, crossing your arms is most often seen as a defensive approach. When your arms are closed, you appear closed and uninterested to the person engaged in a conversation with you.  
					In order to be fully engaged with a prospective customer, keeping your arms open is your best bet. In fact, not only will you appear more approachable, you'll actually retain more information about what it is they're telling you.  
					<br>
					Body language researchers Allan and Barbara Pease discovered that when a group of volunteers who attended a lecture and were asked to sit with unfolded arms and legs remembered 38 percent more than a similar group who attended the same lecture but were asked to sit with folded arms and legs.  
					To instantly connect, shake hands 
					When it comes to the most deep-seated and powerful nonverbal cue, touch is by far the king. In fact, touching someone on the arm, hand, or shoulder for as little as 1/40 of a second creates a human bond, according to researchers.  
					In most sales settings, physical touch and that human connection is communicated via the handshake, a tactile contact experience that can make for a lasting and positive impression.  
					One study on handshakes conducted by the Income Center for Trade Shows revealed that people are twice as likely to remember you if you shake hands with them. They also discovered that people are more open and friendly with those they shake hands with.  
					Use your best discretion, but if the opportunity permits, opening a conversation with a handshake can establish the necessary trust for your customer to reveal their problems and needs and lead you to help provide them with the products that best fulfill them.  
					Boost Confidence by Assuming a Power Pose 
					Let's face it, sometimes for a multitude of reasons, we just don't have the confidence to pick ourselves up and engage with customers with the same energy that we need to close a sale. 
					To help combat that when you need it most, you can heed the advice of researchers at Harvard and Columbia Business School, who showed that by simply holding your body in expansive, "high-power" poses (ex. standing with legs and arms stretched wide open) for as little as two minutes stimulates higher levels of testosterone (hormone linked with power and dominance) and lower levels of cortisol (a stress hormone). 
					Not only will this work when you want to appear more confident (i.e. a sales setting), but they also discovered that people are often more influenced by how they feel about you then by what you're saying. 
					In other words, you could have the best sales pitch, but if you don't look and feel the part, your efforts will end up falling your of your intended targets. </p>
					
					<br>
					<p>4. Less is More 
					What if I were to tell you that consumers are more likely to buy jams from a seller offering a selection or no more than 6 alternatives then they would be if they were to buy from a seller offering upwards of 24 or 30 choices. 
					Or, what if I were to say that college students are more likely to do an essay for extra credit when presented with a smaller list of six topics instead of having 30 topics to choose from? Better yet, those same students who chose essays from a smaller selection, wrote higher quality essays. 
					Sounds counterintuitive right? In the world of business, it's always felt like it's important to give consumers more and more options. 
					That's exactly the assumption Professors Sheena Iyengar and Mark Lepper sought to disprove, and they did so in their famous study from which I've cited the above examples, rightfully titled, "Why Choice is Demotivating." 
					
					Communication expert Carmine Gallo suggests retailers pay more attention to the "Rule of Three," which he explains to be a powerful weapon given that people's short term memory can only remember roughly three "chunks" of information at a time. With too many choices, you run the risk of making consumers frustrated.  
					He also cites an example from a retailer with over 800 stores that invited him to do a keynote. During his time there, he discovered that that retailer specifically trains employees to offer a second option only if it has the features the customer said was important. 
					In fact, they cap the number of options suggested by retail staff at two or three, having found that presenting customers with more than three options at one time actually overwhelms customers rather than making them more likely to buy. </p>



                    
                </div>


                <div class="col-sm-4 articles-showcase">
                    
                    
                    <p class="pinkRedFont text-center">LATEST STORIES</p>

                    <div class="hr-triangle">
                        <div class="triangle"></div>
                    </div>
                    
                    
                    <div class="row">
                    
                        <div class="article-list self-clear col-sm-6" ng-repeat="x in articles">
                            <a ng-href="{{x.href}}">
                            <img ng-src="{{x.imgSrc}}" class="article-thumb">
                            
                            <div class="text-sec">
                                <p class="title" ng-custombind="x.title"></p>
                                <p class="date" ng-bind="x.date | date">
                            </div>
                            </a>
                        </div>
                    </div>
                
                
                </div>
            
            </div>
        </div>


     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>