<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			


			articles : [
					{
						imgSrc : "img/articles/article1.jpg",
						title : "Recent The Blurred Line of Channel Engagement",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article2.jpg",
						title : "Recent Ideas That Inspire Us To Engage Your World",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article3.jpg",
						title : "Recent Nudge Your Sales Reps to Higher Performance",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article4.jpg",
						title : "Recent The Best Way To Get Started Is To Get In Touch",
						date : "04/12/2017",
						href : "#"
					},
					{
						imgSrc : "img/articles/article5.jpg",
						title : "Recent 9 Sales Rewards Trends for 2017",
						date : "04/12/2017",
						href : "#"
					},
				],
				
			
			
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav">
    <!-- <nav class="side-nav"> -->

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

        <div id="articles" class="section firstPad" ng-controller="Articles" data-section="Articles">
            <div class="">
                <div class="container-nexus self-clear">

                    <ul class="social-icons col-sm-4 inline-list self-clear pull-left">
                        <li class="social-icons">
                            <a href="#"><img src="img/facebook.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/twitter.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/google+.png"></a></li>
                        <li class="social-icons">
                            <a href="#"><img src="img/linkedin.png"></a></li>
                    </ul>
                    

                    <!-- <div class="input-block pull-right">
                        <input type="text" placeholder="search article...">
                        <span class="input-icon glyphicon glyphicon-search"></span>
                    </div> -->
                </div>
            </div>

            <div class="container-nexus self-clear">
                
                <div class="col-sm-8">
                    
                    
                
					<img src="img/articles/article3.jpg" class="artile-image">
					
					<h2 class="article-heading">How to Handle a Slump in Retail Sales</h2>
					<p class="pinkRedFont">18/07/2017</p>
					<br>
                    
                    <p>
                    If you are a retailer, it's inevitable — sales will slump. Whether it's due to forces beyond your control like the city tearing up the street in from of your store or seasonal sales dip or a decline in foot traffic, all retailers will experience a slump in sales at some point. Here are 10 simple ways you and your staff can improve your retail sales slump or if you're just having a slow day.  
                    
                    <br><br>
                    1. Create Your Own Holiday  <br>
                    Most retailers only celebrate the national holidays like July 4th or Christmas. But, people love to celebrate. They love excitement. So why wait for the big holidays? Create a holiday of your own. Consider fun things that your store does or sells and the customers who shop with you and then make a holiday around it. For example, in my shoe stores, we celebrated National Hamburger Day. Granted the only connection was that shoes and burgers are both made from cows, but making an event out of it drew a lot of people.  
                    <br><br>
                    2. Advertise More <br>
                    Just when you may think it's time to cut back the marketing dollars, you should probably be advertising more. It is wise to increase marketing efforts during slower sales periods because there is more competition and fewer consumer dollars. Consider newspaper ads, magazines, specialty publications and other forms of marketing. One great way to do this is to use remnant advertising. These are spaces in the paper that are "holes" for the local newspaper. 
                    You simply create a branding ad that the newspaper can drop in at its discretion. For example, for our shoe stores, our ad had a headline that said "Feet Hurt? We can help." We got a ton of traffic off of that ad. The key, though, was that the ad was as much a sales motivator as it was a branding play. 
                    <br><br>
                    3. Generate a Buzz  <br>
                    Whenever anything noteworthy happens within your business, send a press release to the media. The idea is to grab any free coverage possible. Get involved with community events. Consider hosting classes, meetings or other networking events in your retail store. Use a unique promotional event to generate a buzz about your business. 
                    <br><br>
                    4. Examine Your Pricing Strategy <br>
                    When purchasing and pricing products, be sure you've considered the cost of goods and that your retail shop is able to make a profit at that price point. Your product price should be competitive, but still profitable. Ultimately, the right price is the price the customer is willing to pay for the product. 
                    <br><br>
                    5. Design Store for Sales <br>
                    Take advantage of cross-merchandising strategies and impulse sale opportunities. Use lighting techniques and creative displays to attract customers. Play videos for product education, customer entertainment and any other upsell or promotional tie-in. involve all of the senses in your visual merchandising. Remember, an energetic store is a magnet.  
                    <br><br>
                    6. Connect With the Customer <br>
                    Excellent customer service is the key to increasing sales. Listen to your customer to understand their needs and wants. Then educate him/her about the products. Finally, let the customer know you appreciate their business. Offer value-added services and products. Create a mailing list by asking for contact information from each customer. Remember, the customer is looking for an experience and not just a product.  
                    <br><br>
                    7. Be Social <br>
                    The easiest, most cost-effective thing you can do is social media. Make sure that you have a steady stream of activity online. Customers who see a flurry of activity from you and then periods of silence know you are only online because sales are down. Use social media to position yourself as the place to shop and buy.  
                    <br><br>
                    8. Manage Your Money <br>
                    This may seem like an obvious step, but as retail ​operators, we can become too involved in the little details of our business that we lose track of our financials. Create a budget, know where every dime is being spent, keep an eye on cash flow, and control inventory. 
                    <br><br>
                    9. Create an Event <br>
                    Some of our most successful days were during the worst sales periods of the year. We accomplished this by partnering with a local charity and creating an event in our store. For example, we did a weekend event in February (usually a dead month for us) that had our stores as the drop-off point for baby care products like diapers and lotions to be used at the local shelter. A local charity, Baby Love, provided products and services to infants of homeless parents. We gave a 20% discount for every donation and we did this discount when they brought their donation into the store and not as a "bounce back" coupon for later. We built credibility with our local community, increased our sales and helped some babies in need all at the same time.  
                    <br><br>
                    10. Move Outdoors <br>
                    It is a retail phenomenon that when stores look like something is going on, people will wan to check it out. Enter the sidewalk sale. This old but good idea has been around as long as retailers have. Often times, if it was really slow, my stores would move merchandise outside. This created a look as if there was something going on at our store and people would get curious and come check us out. When you do this you get the "passers by" who normally ignore your store - after all it's not on today's to-do list. But when they see stuff out front, it draws their attention and that can create traffic for you. By the way, we didn't always make it a sale. Sometimes just moving racks or a table outside was all it took. 
					</p>
                    
                </div>


                <div class="col-sm-4 articles-showcase">
                    
                    
                    <p class="pinkRedFont text-center">LATEST STORIES</p>

                    <div class="hr-triangle">
                        <div class="triangle"></div>
                    </div>
                    
                    
                    <div class="row">
                    
                        <div class="article-list self-clear col-sm-6" ng-repeat="x in articles">
                            <a ng-href="{{x.href}}">
                            <img ng-src="{{x.imgSrc}}" class="article-thumb">
                            
                            <div class="text-sec">
                                <p class="title" ng-custombind="x.title"></p>
                                <p class="date" ng-bind="x.date | date">
                            </div>
                            </a>
                        </div>
                    </div>
                
                
                </div>
            
            </div>
        </div>


     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>