<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			


			salesVsEarning : {
				containerId : "salesVsEarning",
				categories: [
		            'Monday',
		            'Tuesday',
		            'Wednesday',
		            'Thursday',
		            'Friday',
		            'Saturday',
		            'Sunday'
			    ],
				series: [{
			        name: 'Sales',
			        data: [3, 4, 3, 5, 4, 10, 12],
			        color : "#01c1a7",
			    }, {
			        name: 'Earning',
			        data: [1, 3, 4, 3, 3, 5, 4],
			        color : "#65ce69"
			    }]
			},
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
        
     <nav class="side-nav"> 
        <table>
            <tr>
                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>
	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

        <div id="dashboards" class="section no-margin-bottom dashboards firstPad greyBg" data-section="dashboards" ng-controller="Dashboards">

			<ng-dashnav activename='Sales vs Earning' items="routes"></ng-dashnav>
			
			<div class="container-nexus self-clear">
            
                <div class="chartContainer self-clear salesvsearning whiteBg" ng-class="(salesVsEarning.rotated)?'rotated':''">

					

					<div class="">
						<h3 class="header-sm  nexus-heading">Sales <small>vs</small> Earning</h3>
						<div class="chartSection" ng-areachart="salesVsEarning"></div>
					</div>
					
				</div>

				<br>

				<p><i>Drive purchase of Painthouse products to boost your earnings and redeem more rewards! </i>
				<br>
				You can increase your point earnings by moving up tiers, so you earn a higher tier bonus. To move up to the next tier, keep your average sales volume within the range of the tier you want to upgrade to, consistently for at least 4 out of 6 months. It’s really that simple.  
				<br><br>
				<a href="promotion-twice-the-mix.html"><b>Want to double your points even more quickly? Check out our Twice the Mix promotional offer!</b></a></p>


            </div>
        </div>


     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>