<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			//DATA FOR LEADERBOARD TABLE
			leaderBoardData : {

				xAxis : ["Position","Region","Dealer Name"],
				yAxis : [
					{
						class : '',					//ACTIVE CLASS FOR THE CURRENT USER SO THAT IT WILL HIGHTLIGHT THAT PARTICULAR TABLE ROW
						values : [1,"South","Vinay Sai"],
					},
					{
						class : '',
						values : [2,"North","Nisha Anthraper"],
					},
					{
						class : '',
						values : [3,"North","Prarthana Mugeraya"],
					},
					{
						class : '',
						values : [4,"North","Shantna Gupta"],
					},
					{
						class : '',
						values : [5,"North","Latha Hamanaraju"],
					},
					{
						class : '',
						values : [6,"North","Natasha"],
					},
					{
						class : '',
						values : [7,"North","Sushma"],
					},
					{
						class : '',
						values : [8,"North","Arnab Bose"],
					},
					{
						class : '',
						values : [9,"North","Yogesh"],
					},
					{
						class : '',
						values : [10,"North","Lalnun Tluanga"],
					},
					{
						class : 'active',
						values : [11,"North","Simon Baker"],
					},


				]

			},
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav"> 
    <!-- <nav class="side-nav"> -->

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

        <div id="dashboards" class="section no-margin-bottom dashboards firstPad greyBg position-relative" data-section="dashboards" ng-controller="Dashboards">

			<ng-dashnav activename='Leaderboard' items="routes"></ng-dashnav>
			
			<div class="container-nexus self-clear">
            
                <table class="full-width self-clear">
					<tr>
						<td class="full-vp-height layout-cell">
							<div class="dash-caps parent">
								<!-- <img id="dashboard-image" src="img/dashboard-bg.gif" style="width: 100px"> -->
								<h3 class="nexus-heading">Leaderboard</h3>
								

								<p class=""><i>Stay on top of the leaderboard and you could be one of the 10 lucky winners who take an all-expense paid trip to Bali!</i><br>
								Your leaderboard scores are calculated based on your sales volume, tier status and customer referral numbers. We update Leaderboard scores dynamically on a daily basis, relative to the sales performance of members, calculated internally by our system. Keep a close watch on your leaderboard ranking, and keep climbing up so you make it to the top 10. Prove yourself as a top Painthouse dealer and unlock an exclusive international trip!<br><br>
							<a href="promotion-trip-to-bali.html"><b>Want to win a free international all-expense paid trip? Check out our Trip to Bali promotional offer!</b></a></p>
							</div>
						</td>
						<td class="full-vp-height half-width layout-cell">
							<div class="floats leaderboard full-width">

								<div class="chartContainer">

									<div class="backsss">
										<!-- <h2 class="greyBg padding-15 darkGreyFont header-sm">Leaderboard</h2> -->
										<table id="leaderboard" class="table table-striped">
											<thead class="greyBg">
												<tr>
													<td ng-repeat="x in leaderBoard.data.xAxis track by $index" ng-bind="x" class="text-center"></td>
												</tr>
											</thead>

											<tbody>
												<tr ng-repeat="x in leaderBoard.data.yAxis" ng-class="x.class">

													<td ng-repeat="y in x.values track by $index" ng-bind="y" class="text-center"></td>

												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>

						</td>
					</tr>
				</table>
				
			</div>
			
			<img class="stick-absolute right bottom dash-bg" src="img/dashboard_bg2.png">
        </div>


     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>