<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

		
			targetVsAchievements : {
				target : 100,
				achieved : 50
			},
				
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav"> 
    <!-- <nav class="side-nav"> -->

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

        <div id="dashboards" class="section no-margin-bottom dashboards firstPad greyBg" data-section="dashboards" ng-controller="Dashboards">

			<ng-dashnav activename='Target vs Acheivements' items="routes"></ng-dashnav>
			
			<div class="container-nexus self-clear">
            
                <div class="chartContainer self-clear  target-container whiteBg" ng-class="(targetvsAch.rotated)?'rotated':''" ng-init="targetvsAch.width = targetvsAch.achieved">
                    
                    <div class="ss">
                            
                        <div class="chartSection">
                            <h3 class="header-sm  nexus-heading">Target <small>vs</small> Achievement</h3>
                            <div class="fillchart">
                                <div class='track'></div>
                                
                                <div class='fill text-right' ng-attr-style="width: {{targetvsAch.width}}%; background: linear-gradient(to right, rgb(251,229,0) 30% , rgb({{(251 - ((targetvsAch.achieved / 100 * (251 - 34)))) | round}}, {{(229 - ((targetvsAch.achieved / 100 * (229 - 199)))) | round}}, {{(targetvsAch.achieved / 100 * 144) | round}}) 100%);"><span>{{targetvsAch.achieved}}%</span></div>
                                
                                <div class="target" ng-attr-style="right:{{100 - targetvsAch.target}}%"></div>
                            </div>

                            <!-- <table class="onshowHover">
                            <tr><td class="text-center align-middle">Achievement <br> {{targetvsAch.achieved}}% / {{targetvsAch.target}}% </td></tr>
                            </table> -->
                        </div>

                        <div class="labels self-clear">
                            <label class="pull-left">Progress...</label>
                            <label class="pull-right">Monthly Target</label>
                        </div>
                    </div>

                </div>
                <br>
                <p><i>Catch up with your target before the quarter ends to win extra points! </i>
                <br>
                Your target is set as the sum of the upper sales volume limit of your current tier for each month in a quarter. To win your target bonus, simply achieve the upper sales volume limit for your tier, put together for three months before the quarter ends. The current tier will be taken as the tier that you belong to when the quarter begins. Sounds simple? Get going! 
                <br><br>
                <a href="promotion-bullys-eye.html"><b>Want to rake in some extra points? Check out our Bulls Eye & Beyond promotional offer!</b></a></p>


            </div>
        </div>


     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>