<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			


		
				
			
			
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav"> 
    <!-- <nav class="side-nav"> -->

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

        <div id="editProfile" class="section firstPad editProfile" data-section="My Account">

			<div class="container-nexus">
				<div class="self-clear">
					<h2 class=" pull-left padding-v-15 serif"><span class="nexus-heading">My Account</span> <small class="caption sans-serif text-uppercase">Edit profile</small></h2>
					<button class="bordered-btn pull-right darkGreyFont" ng-init="showSavecta = true" ng-show="showSavecta" ng-click="showDone = true; showSavecta = false;">Save edits</button>
					
					<a href="index.html#myaccount">
					<button class="bordered-btn pull-right darkGreyFont" ng-init="showDone = false" ng-show="showDone">I'm Done</button></a>
				</div>
			</div>	

			<div class="container-nexus">
			
				<div class="self-clear form-wrapper">

					<div class="col-md-4 group greyBg">

						<div class="form-group">
							<label class="col-sm-4">&nbsp;</label>
							<div class="profile-pic inline-block position-relative">
								<img src="img/12.png">
								<img src="img/camera-icon.png" class="cameraIcon" onclick="priflePic.click();">
							</div>
							<input type="file" id="priflePic" style="display:none">
						</div>
						

						<div class="form-group self-clear"><label class="col-md-4 col-sm-2 col-xs-12 text-uppercase darkGreyFont">Member Id</label> <label class="col-md-8 col-sm-10 col-xs-12">12324 </label></div>
						<div class="form-group self-clear"><label class="col-md-4 col-sm-2 col-xs-12 text-uppercase darkGreyFont">First Name</label> <input class="col-md-8 col-sm-10 col-xs-12 no-border" type="text"></div>
						<div class="form-group self-clear"><label class="col-md-4 col-sm-2 col-xs-12 text-uppercase darkGreyFont">Last Name</label> <input class="col-md-8 col-sm-10 col-xs-12 no-border" type="text"></div>
						<div class="form-group self-clear"><label class="col-md-4 col-sm-2 col-xs-12 text-uppercase darkGreyFont">Email</label> <input class="col-md-8 col-sm-10 col-xs-12 no-border" type="text"></div>
						<div class="form-group self-clear"><label class="col-md-4 col-sm-2 col-xs-12 text-uppercase darkGreyFont">Phone</label> <input class="col-md-8 col-sm-10 col-xs-12 no-border" type="text"></div>
						
					</div>


					<div class="col-md-8 group greyBg address">
						<div class="form-group self-clear"><label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Address</label> <input class="col-sm-10 col-xs-12 no-border" type="text"></div>
						<div class="form-group self-clear"><label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">&nbsp;</label> <input class="col-sm-10 col-xs-12 no-border" type="text"></div>
						<div class="form-group self-clear"><label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Street</label> <input class="col-sm-10 col-xs-12 no-border" type="text"></div>
						<div class="form-group self-clear"><label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Landmark</label> <input class="col-sm-10 col-xs-12 no-border" type="text"></div>
						<div class="form-group self-clear">
							<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">City</label>
							<input class="col-sm-4 col-xs-12 no-border" type="text">

							<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">State</label>
							<input class="col-sm-4 col-xs-12 no-border" type="text">

						</div>
						<div class="form-group self-clear">
							<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Country</label>
							<input class="col-sm-4 col-xs-12 no-border" type="text">

							<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Pincode</label>
							<input class="col-sm-4 col-xs-12 no-border" type="text">
						</div>
					</div>

					<div class="col-md-12 group greyBg border-input security">
						<div class="form-group self-clear">
							<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Update Password</label>
							<input class="col-sm-5 col-xs-12 no-border" type="password" placeholder="Old Password">
							<input class="col-sm-5 col-xs-12 no-border" type="password" placeholder="New Password">
						</div>
						<div class="form-group self-clear">
							<label class="col-sm-2 col-xs-12 text-uppercase darkGreyFont">Security Question</label>
							<select class="col-sm-5 col-xs-12 no-border"></select>
							<input class="col-sm-5 col-xs-12 no-border" type="text" placeholder="Answer">
						</div>

					</div>

				</div>

			</div>
            
        </div>


     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>