<!DOCTYPE html>
<html>
<head>
	<title>NEXUS Login</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css"rel="stylesheet">

	<script type="text/javascript">

	var dynamicData = {

		brandProperties : {
			
			brandName : "Paint House",
			logoImgSrc : "img/Paint-House-Logo.png",
			logo2ImgSrc : "img/Rewards-Splash-logo.png",
			pageBackground : "img/login-bg.jpg"

		},


	};

	</script>
</head>

<body ng-app="app" ng-controller="TopController">

<div class="wrapper loginPage">

	<main>

		<div class="pageBackground overflow-hidden">
			<div class="hidden-md-up coverBackground bottom-pos" ng-attr-style="background-image:url('img/background.jpg')"></div>
			<img class="background-item hidden-sm-down" ng-src="{{brandProperties.pageBackground}}">
		</div>

		<div class="self-clear login-nav">
			<div class="pull-right">
				<a href="#">
					<img class="logo" ng-src="{{brandProperties.logoImgSrc}}">
				</a>
			</div>
			
			<div class="pull-right language-selection">
				<!-- <label>Select Language</label> -->
				<select class="" dir="rtl">
					<option value="0" selected>English</option>
					<option value="1">Hindi</option>
					<option value="2">Tamil</option>
					<option value="3">Kanadiga</option>
					<option value="4">Telugu</option>
					<option value="5">Malayalam</option>
					<option value="6">Bengali</option>
				</select>
			</div>

			<div class="pull-left position-relative">
				<a href="#">
					<img class="logo" ng-src="{{brandProperties.logo2ImgSrc}}">
				</a>
				<!-- <span title="Share this site" id="shareBtn">
					<img src="img/share-option2.png" class="icon">
					
					<div class="social-share text-right">
						<a href="#"><img src="img/share/facebook.png"></a>
						<a href="#"><img src="img/share/twitter.png"></a>
						<a href="#"><img src="img/share/google.png"></a>
						<a href="#"><img src="img/share/linkedin.png"></a>
					</div>
				</span> -->
				
				
			</div>
		</div>

		<div class="container-nexus  self-clear">
			<div class="col-md-12 col-sm-12">

				<div class="login-section" ng-controller="loginController">
					
					
					
					<form name="loginForm" id="loginForm" action="index.html" method="post" class="lightGreyBorder self-clear">

						<!-- <h2 class="textbg2 blackFont">Welcome to Michelin Bandhan!</h2> -->

						<fieldset>

							<div class="form-group">
								<input type="text" class="blackFont no-border sans-serif" name="Username" placeholder="Username" required ng-model="form.username.value">
							</div>

							<div class="form-group self-clear blackFont">
								
								<input ng-attr-type="{{(form.seePassword.state)?'text':'password'}}" class="blackFont no-border sans-serif" name="Password" placeholder="Password" required  ng-model="form.password.value">
								
								<button type="button" class="blackFont input-help-button glyphicon" title="Show password" ng-class="(!form.seePassword.state)?'glyphicon-eye-open':'glyphicon-eye-close'" ng-click="form.seePassword.state = !form.seePassword.state"></button>
								<a href="#" class="blackFont pull-right form-help no-hover-decoration">Forgot Password?</a>
							</div>

							<div class="form-group text-center">

								<!--Sample Error message-->
								<p class="form-error">The username/password you entered is invalid. Please try again!</p>
								<br>
								<button type="submit" class="bordered-btn blackFont" ng-disabled="loginForm.$invalid">LOGIN</button>
								<p class="form-help blackFont"><a href="#" class="no-hover-decoration">Activate Account</a></p>
							</div>	

							<!-- <h1>{{loginForm.$invalid}}</h1>					 -->

						</fieldset>

					</form>
				</div>

			</div>

		</div>

	</main>
	<footer>
		<div class="container-nexus self-clear">
			<ul class="pull-left inline-list has-divider">
				<li>
					<a href="#">Access Advice</a>
				</li>
				<li>
					<a href="#">Cookies</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Terms of Use</a>
				</li>
			</ul>
			
			<div class="pull-right">
				<img src="img/powered_by.png">
			</div>
		</div>
	</footer>



</div>


<div class="loadingAnim" ng-loading="mainPageLoading"></div>

	<script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>