<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			


			upcomingPromotions : {
				items : [
					{
						"imgSrc" : "img/promo/Promo_1.jpg",
						title : "Promotion 1",
						textContent : "<h3>Introducing Early<br>Sparrow...</h3><p>Reach your commercial targets before the 25<sup>th</sup> of every month!</p><a href='promotions.html#introducing'>Know More</a>",
					},
					{
						"imgSrc" : "img/promo/Promo_2.jpg",
						title : "Promotion 2",
						textContent : "<h3>Consistency Rewards</h3><p>Consistently achieve your monthly commercial targets and get rewarded!</p><a href='promotions.html#Consistency'>Know More</a>",
					},
					{
						"imgSrc" : "img/promo/Promo_3.jpg",
						title : "Promotion 3",
						textContent : "<h3>Summer Fiesta</h3><p>Earn upto 4x Points!</p><a href='promotions.html#Chennel'>Know More</a>",
					},

				],

				options : {
					auto : false,
					pause : 5000,
					speed : 2000,
					controls : false,
					
				}
			}
				
			
			
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav"> 

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

        <div id="promotions" class="section firstPad" data-section="promotions" ng-controller="UpcommingPromotions">

            <div class="container-nexus self-clear">
                
                <ng-innernav activename="Trip to Bali" items="routes"></ng-innernav>
                
                
                <br>

                <div class="promo-banner position-relative">
                    <img class="promo-image full-width" src="img/promo/Promo_3.jpg">
                    <h4 class="promo-title inner-heading greenFont">Trip to Bali </h4>
                </div>

				
				<div class='row'>
					<div class="col-sm-9">

						<br><br>
						
						<p>We’re giving a chance for the top 10 dealers on the leaderboard, at the end of the year, to enjoy an all-expense paid trip to Bali. Keep growing your sales volume and moving up the tiers, to prove yourself as a top performer and grab a spot at the top of the leaderboard!  </p>
						

						<br>
						
						<p>To move up the leaderboard: </p>
						<ul>
							<li>Increase your monthly sales volume and maintain it above the average sales volume for your tier</li>
							<li>Upgrade your tier status by purchasing from Painthouse at least 4 out of 6 moths such that the average sales volume is in the range of the tier to which you want to move.</li>
							<li>Increase the number of customers you refer to the Splash program </li>
						</ul>

						<p>Leaderboard scores are dynamically updated each month. Final winners who get to take a free trip to Bali will be decided based on leaderboard rankings at the end of FY ’17.</p>
		
						<br>
						<p><b>Top the Ranks. Take that Trip!</b></p>
						

						<br>
						<p><b>Want to check out your leaderboard rank?</b> <a href="dashboards-leaderboard.html">Click here</a>.</p>

					</div>

					<div class="col-sm-3 left-box">
						<div class="greenBg note-box">
							<p>NOTE</p>
                    		<p>*This promotion is valid till the end of FY 17. </p>
						</div>
						
						<a href="claim-sales.html">
							<button class="bordered-btn lg claim-btn">CLAIM YOUR SALE ONLINE</button>
						</a>
						
					</div>
				</div>

            </div>
        </div>


     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>