<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},

			


			upcomingPromotions : {
				items : [
					{
						"imgSrc" : "img/promo/Promo_1.jpg",
						title : "Promotion 1",
						textContent : "<h3>Introducing Early<br>Sparrow...</h3><p>Reach your commercial targets before the 25<sup>th</sup> of every month!</p><a href='promotions.html#introducing'>Know More</a>",
					},
					{
						"imgSrc" : "img/promo/Promo_2.jpg",
						title : "Promotion 2",
						textContent : "<h3>Consistency Rewards</h3><p>Consistently achieve your monthly commercial targets and get rewarded!</p><a href='promotions.html#Consistency'>Know More</a>",
					},
					{
						"imgSrc" : "img/promo/Promo_3.jpg",
						title : "Promotion 3",
						textContent : "<h3>Summer Fiesta</h3><p>Earn upto 4x Points!</p><a href='promotions.html#Chennel'>Know More</a>",
					},

				],

				options : {
					auto : false,
					pause : 5000,
					speed : 2000,
					controls : false,
					
				}
			}
				
			
			
			
				
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav"> 

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

        <div id="promotions" class="section firstPad" data-section="promotions" ng-controller="UpcommingPromotions">

            <div class="container-nexus self-clear">
                
                <ng-innernav activename="Bully’s Eye & Beyond" items="routes"></ng-innernav>
                
                
                <br>

                <div class="promo-banner position-relative">
                    <img class="promo-image full-width" src="img/promo/Promo_2.jpg">
                    <h4 class="promo-title inner-heading greenFont">Bully’s Eye & Beyond </h4>
                </div>
				
				<div class="row">

				
					
					
					<div class="col-sm-9">
						<br><br>
                
						<p>Think you can outdo your target this quarter? You’re in luck. We’re giving out points in addition to the target bonus to the first 500 dealers who exceed their target before the quarter ends. You could be one of the lucky winners! <br><br>
							
						Your target is set as the sum of the upper sales volume limit of your current tier for each month in a quarter, as given below. You should achieve sales over your tier target, and be among the first 500 dealers to do so to win 100 Bulls Eye & Beyond points. The quicker your sales volume grows, the better the chances of you winning! </p>

						<br><br>

						<div class="table-responsive">
							<table class="table table-bordered no-margin-bottom">
								<tr>
									<th>TIER</th>
									<th>Classic</th>
									<th>Silver</th>
									<th>Gold</th>
									<th>Platinum</th>
									<th>Diamond</th>
									<th>Titanium</th>
								</tr>
								<tr>
									<td>TARGET*/ quarter</td>
									<td>60</td>
									<td>150</td>
									<td>450</td>
									<td>1500</td>
									<td>3000</td>
									<td>6000</td>
								</tr>
							</table>
							<small>* units measured in decalitre (dal) </small>
						</div>
						

						<br>
						<p><b>Lock in Target. Clock in Beyond! </b></p>
						<br>
						<p><b>Want to see how close you are to achieving your target?</b> <a href="dashboards-target-vs-achievement.html">Click here</a>.</p>
					</div>

					<div class="col-sm-3 left-box">
						<div class="greenBg note-box">
							<p>NOTE</p>
							<p>*This promotion is valid on a quarterly basis during FY 16-17, and will take into account dealer sales volume during the same period.</p>
						</div>
						
						<a href="claim-sales.html">
							<button class="bordered-btn lg claim-btn">CLAIM YOUR SALE ONLINE</button>
						</a>
							
					</div>

                
				
				</div>

            </div>
        </div>


     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>