<!DOCTYPE html>
<html>
<head>
	<title>NEXUS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<style>
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
			display:none !important;
		}
	</style>

	<link href="img/shortcuticon.png" rel="shortcut icon">

	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script>

		var dynamicData = {

			userInfo : {
				firstName : "Simon",
				secondName : "Baker",
				imgSrc : "img/12.png",
				points : 3000,
				position : 1,
			},
			
			brandProperties : {
				
				brandName : "Paint House",
				logoImgSrc : "img/Paint-House-Logo.png",
				logo2ImgSrc : "img/Rewards-Splash-logo.png",
			},
			pageNav : {
				items : [
					{
						imgSrc : "img/my-account1.png",
						label : "My Account",
						hrefId : "myAccount",
						active : true,
					},
					{
						imgSrc : "img/dashboard1.png",
						label : "Dashboards",
						hrefId : "dashboards",
					},
					{
						imgSrc : "img/promotions1.png",
						label : "Promotions",
						hrefId : "promotions",
					},
					{
						imgSrc : "img/rewards-gallery1.png",
						label : "Rewards Gallery",
						hrefId	: "rewards",
					},
					{
						imgSrc : "img/about-program.png",
						label : "About the Program",
						hrefId : "aboutProgram"
					},
					{
						imgSrc : "img/article.png",
						label : "Articles",
						hrefId : "articles",
						
					},
					
				]
			},

			earnHistory : {
				xAxis : ["DATE OF SALE","SELLING USER","PRODUCT GROUP","QUANTITY","ORDER NUMBER","CLAIM DATE","AWARD"],
				yAxis : [
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},
					{
						values : ["12/12/2017","Shafeek Ahmed","PG 5", 15, "Order number 1","04/18/2017", 15],

					},


				]
			},
		};


	</script>
    
</head>

<body ng-app="app" ng-controller="TopController" ng-class="(bodyScroll.state)?'scroll-auto':'scroll-hidden'">

<div class="loadingAnim" ng-loading="mainPageLoading"></div>

    <nav class="page-nav self-clear" ng-navscroll></nav>
    
    
     <nav class="side-nav">
    <!-- <nav class="side-nav"> -->

        <table>

            <tr>

                <td>
					<div class="section-indicator">
						<p ng-view-indicator="sectionFinder" ng-mouseenter="nav.show();">Home</p>
					</div>
                </td>

            </tr>

        </table>

	</nav>
	
    <ng-page-nav data="nav"></ng-page-nav>
    
    <div class="profile-bar padding-for-menu">
        <table class="profile-table">
            <tr>
                <td>
                    <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                </td>
                <td class="text">
                    <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                    <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                </td>
            </tr>
        </table>
    </div>

    <main class="padding-for-menu">

		<div id="earnhistory" class="section firstPad"  data-section="My Account">
			<div class="">
				<div class="container-nexus">
					<div class="self-clear">
						<h2 class=" pull-left padding-v-15 serif"><span class="nexus-heading">Sales Promotions</span> <small class="caption sans-serif text-uppercase">Report</small></h2>
					
					</div>
				</div>
			</div>

			<div class="container-nexus self-clear">
				
				
				<form>


					<div class="search-box row self-clear whiteBg">

						<button class="bordered-btn pull-right darkGreyFont ">Download</button>
					</div>
				</form>
				
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Sales Promotion Report</th>
								<th>Sales</th>
								<th>Points</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Country</td>
								<td>19,000</td>
								<td>511111</td>
							</tr>
							<tr>
								<td>Country</td>
								<td>19,000</td>
								<td>511111</td>
							</tr>
							<tr>
								<td>Country</td>
								<td>19,000</td>
								<td>511111</td>
							</tr>
							<tr>
								<td>Country</td>
								<td>19,000</td>
								<td>511111</td>
							</tr>
						</tbody>
					</table>
				</div>
			

			
			</div>
		</div>



     </main><ng-footer></ng-footer>


    <script src="js/site_config.js"></script>

	<script src="libs/jquery-2.2.3.min.js"></script>
	 <script src="libs/jquery.bxslider.min.js"></script> 
	<script src="libs/parallaxjs/parallax.min.js"></script>
	<script src="libs/velocity.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/highcharts.js"></script>

	<script src="js/app.js"></script>


	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>