<footer class="page-footer">
    <div class="container-nexus">
        <ul class="inline-list has-divider center-block text-center whiteFont">
            <li>
                <a href="#">Access Advice</a>
            </li>
            <li>
                <a href="#">Cookies</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <a href="#">Terms of Use</a>
            </li>
        </ul>

    </div>
</footer>