<a href="dashboards.html">
    <div class="dashboard-nav">
        <a ng-href="{{item.href}}" ng-repeat="item in items" title="{{item.label}}">
            <div class="dot" ng-class="(activename == item.label)?'active':''"></div>
        </a>
        <!-- <div class="dot" ng-class="(activename == 'targetVsAchievement')?'active':''"></div>
        <div class="dot" ng-class="(activename == 'salesvsearning')?'active':''"></div> -->
    </div>
</a>