<ul class="inline-list has-divider center-block text-center inner-nav text-uppercase">
    <li ng-repeat="item in items" ng-if="!(activename==item.label)">
        <a ng-href="{{item.href}}" ng-bind="item.label"></a>
    </li>
</ul>