<nav class="page-nav self-clear">
    <div class="nav-static self-clear">
        <div class="nav-item pull-right">
        

            <a href="index.html">
                <img ng-src="{{brandProperties.logoImgSrc}}" class="logo">
            </a>
        </div>

        <div class="nav-item pull-left">
            <a href="index.html">
                <img ng-src="{{brandProperties.logo2ImgSrc}}" class="logo">
            </a>
            
        </div>

        <div class="profile-bar padding-for-menu">
            <table class="profile-table">
                <tr>
                    <td>
                        <img ng-src="{{userInfo.imgSrc}}" class="profile-photo">        
                    </td>
                    <td class="text">
                        <p><b ng-bind="userInfo.firstName"></b> <span ng-bind="userInfo.secondName"></span></p>
                        <p><b class="serif" ng-countnumber="userInfo.points"></b> <small>points!</small></p>
                    </td>
                </tr>
            </table>
        </div>


    </div>
</nav>