<div class="notification-container"  ng-fadeshow="model.state" ng-class="(model.state)?'active':''">
    <button class="close" ng-click="model.hide();">&times;</button>
    <div ng-custombind="model.value" ></div>
</div>

<div class="notification-trigger" ng-click="model.toggleMsg($parent.userInfo.message)">
    <button>
        <img src="img/notification-trigger.jpg">
    </button>
</div>