<div class="pop-up fullscr-page-nav" ng-fadeshow="data.state">

    
        <div class="position-releative wrapper" ng-click="data.hide();">
            <button class="close whiteFont" ng-click="data.hide();">&times;</button>
           <div class="over-flow-control">
                
                
                <ul class="nav-menu whiteFont" ng-no-propa>
                    <li class="main-items noselect" ng-repeat="mainItems in data.list">
                        
                        <a ng-href="{{mainItems.href || ''}}" ng-click="data.hide()" ng-show="mainItems.sub_items == undefined || mainItems.sub_items.length == 0">
                            <h2 ng-attr-style="color : {{mainItems.color}}">
                                {{mainItems.label}} 
                            </h2>
                        </a>

                        <h2 class="cursor-crosshair" ng-attr-style="color : {{mainItems.color}}" ng-show="mainItems.sub_items != undefined && mainItems.sub_items.length != 0" ng-click="data.showSubs = $index">
                            {{mainItems.label}} 
                        </h2>


                        <ul class="sub-items inline-list overflow-hidden text-uppercase" ng-expanded="data.showSubs == $index" speed="500">
                            <li ng-repeat="subItems in mainItems.sub_items">
                                <a href="{{subItems.href}}">{{subItems.label}}</a>
                            </li>
                        </ul>

                    </li>



                </ul>
                
            
                

            </div> 
            <a class="whiteFont logout" href="login.html"><span class="icon glyphicon glyphicon-log-out"></span><span class="text">LOGOUT</span></a>
        </div>
    

</div>

<!-- <div class="page-nav-mask pop-up" ng-click="data.hide();" ng-fadeshow="data.state"></div> -->