<div class="nav-static self-clear">
    <div class="nav-item pull-right">
    

        <a href="index.html">
            <img ng-src="{{brandProperties.logoImgSrc}}" class="logo">
        </a>
    </div>

    <div class="nav-item pull-left">
        <a href="index.html">
            <img ng-src="{{brandProperties.logo2ImgSrc}}" class="logo">
        </a>
        
    </div>
</div>